@import "bourbon"
/* ======================================================
 Здесь находятся базовые стили, предполагаемо общие для всех страниц. 
 ----------------------
 (!) - подлежит замене
 (?) - не уверен, что решение лучшее из возможных, буду рад совету.
 (x) - временная штука, удалить.
 ====================================================== */

body
	font-size: 16px
	min-width: 375px
	position: relative
	background: url('../img/BG_pattern.jpg')
	margin: 24px 32px

// Общий белый белый фон
.white_BG
	max-width: 1810px
	background-color: #fff
	border-radius: 3px
	box-shadow: 0 2px 26px rgba(0, 0, 0, 0.5)
	margin: 0 auto
	min-width: 1207px

//wrap - для создания отступа отцентрованного marginом блока(?)
.container_wrap
	padding: 0 30px

.container
	max-width: 1200px
	margin: 0 auto

//Для скрытия и анимации менюшек
.hidden
	display: none
.visuallyhidden
	opacity: 0
.animate
	transition: .2s
.reverse
	display: block
	transform: skewY(14deg) rotate(-14deg)

.reverse_skew
	transform: skew(12deg)

//Зеленая кнопка (прим. в превью корзины)
.green_button
	display: block
	height: 50px
	line-height: 50px
	background-color: #c9f725
	color: #363636
	text-decoration: none
	font-size: 20px
	font-weight: 700
	transform: skew(-12deg)
	border-radius: 4px
	margin: 0 6px
	box-shadow: 0 3px 2px #d2e494
	&:hover
		background-color: #beea23
		box-shadow: 0 6px 5px #e3f0b4
	&:active
		background-color: #b6df22

//Кнопка корзины

.bucket_btn
	display: block
	background-image: linear-gradient(to right, #fafafa 0%, #f2f2f2 100%)
	width: 159px
	text-decoration: none
	transform: skew(-12deg)
	border-radius: 3px
	background-color: #f7f7f7
	transition: 0.2s
	&:hover
		background-color: #e9e9e9
		background-image: none
	&:active
		background-color: #d9d9d9
	.bucket_btn_skew
		transform: skew(12deg)
		padding: 3px 0
	p 
		text-align: left
		font-size: 10px
		color: #8e8e8e
		text-transform: uppercase
		font-weight: bold
		line-height: 15px
		.bucket_count_words, .bucket_count
			font-size: 14px
			color: #363636
		.bucket_count_words
			text-transform: lowercase
	.bucket_svg
		float: left
		margin: 6px 17px 0px 26px


// Заголовок блоков h1

.sectiontitle
	text-align: center
	h1
		border-bottom: 1px solid #dff4fd
		display: inline
	p 
		max-width: 478px
		color: #8e8e8e
		line-height: 16px
		margin: 7px auto 15px auto
	&:before
		content: ''
		display: block
		width: 54px
		height: 5px
		background-color: #f3f3f3
		margin: 45px auto 0 auto



//+++++++++MEDIA Запросы фона+++++++++
@media only screen and (max-width : 1000px)
	/**/
	body
		margin: 24px 10px
	.white_BG
		min-width: 970px
	.container_wrap
		padding: 0 20px

@media only screen and (max-width : 375px)
	/**/
	body
		margin: 0
		overflow-x: hidden
	.white_BG
		min-width: 375px		
		border-radius: 0
	.container_wrap
		padding: 0 
