.inner_blue
	position: absolute
	top: 438px
	left: -40px 
	right: -40px
	transform: rotate(-12deg) skew(-12deg)
	background-image: linear-gradient(180deg, #61d4f5 0%, #4564dc 100%)
	height: 418px
	border-radius: 10px
	box-shadow: 0 5px 4px rgba(155, 155, 155, 0.4)
	.inner_blue_bg
		width: 100%
		height: 100%
		background-image: url(/components/bitrix/bikeslider/blulines.png)
		border-radius: 10px
		background-size: cover
		background-repeat: no-repeat
		background-position: top left


.bikeslider_wrap

	.sectiontitle:before
		margin-top: 23px	
	.bikeslider_section
		display: flex
		flex-flow: row wrap
		justify-content: center
		background-color: white
		border-radius: 10px
		box-shadow: 0 5px 4px rgba(155, 155, 155, 0.16)
	.bike_slide
		position: relative
		padding: 20px 30px
		display: flex
		flex-flow: row wrap
		flex-basis: 44%
		text-decoration: none
		border: 1px solid #cecece
		border-radius: 0 10px 0 0
		transition: .2s
		background-color: #FFF
		&:hover
			border-color: #9c69f9
			box-shadow: 0 0 11px rgba(57, 107, 166, 0.2)
	.bike_speed
		display: flex
		flex-flow: column wrap
		flex-basis: 90px
		p 
			color: #8e8e8e
			font-size: 12px
			font-weight: 400
			line-height: 14px
			margin-bottom: 30px
			span 
				display: block
				font-size: 35px
				margin: 7px 0
				i 
					font-size: 16px
					font-style: normal
					margin-left: 5px
		p:last-child
			margin: 0
	.bike_view
		max-width: 82%
		.bike_img
			height: 287px
		.price
			position: absolute
			width: 126px
			height: 36px
			background-image: url(/components/bitrix/bikeslider/pricer.svg)
			background-size: cover
			background-repeat: no-repeat
			background-position: center
			font-size: 12px
			font-weight: 700
			font-family: "P F  Beau Sans  Pro"
			color: #4a4a4a
			text-align: right
			line-height: 35px
			margin-left: 311px
			span 
				margin-right: 10px
	.bike_description
		margin-left: 10px
		.bike_title
			float: left
			width: 53%
			margin-right: 17px
			h3 
				font-size: 20px
		.bike_title+p 
			margin-right: -35px
	.bike_slide:nth-child(1)
		padding-right: 40px
		border-radius: 10px 0 0 0
		&:after
			content: ''
			display: block
			position: absolute
			width: 2px
			height: 200px
			background-color: #363636
			right: -2px
			top: 20%
			z-index: 2
	.bike_slide:nth-child(2) 
		z-index: 1
		.bike_bgtext
			font-size: 65px
	.bike_slide:nth-child(3) 
		border-radius: 0 0 10px 10px
		margin: -0.5px 0 0 0
		flex-basis: 94.2%
		width: 100%
		justify-content: space-between
		.bike_bgtext
			font-size: 90px
		.bike_speed
			flex-flow: row nowrap
			p 
				margin: auto
				margin-right: 54px
				width: 90px
				svg
					height: 35px
			p:first-child
				width: 70px	
		.bike_view
			max-width: none
			.bike_img
				height: auto
				display: inline-block
			.price
				margin-left: 180px
			.bike_description
				float: right
				max-width: 290px
				margin-left: 109px
				padding: 35px 0
				.bike_title
					float: none
					clear: both
					width: auto
	.bike_bgtext
		position: absolute
		right: 0
		left: 0 
		bottom: 50%
		text-align: center
		color: #f2f2f2
		font-size: 88px
		font-weight: 700
		display: none






			



@media only screen and (max-width : 1000px)
	/**/
	.bikeslider_wrap
		.bike_slide, .bike_slide:nth-child(1), .bike_slide:nth-child(2), .bike_slide:nth-child(3)  
			padding: 20px 25px
		.bike_speed
			svg
				display: none
			p 
				margin-bottom: 20px
		.bike_view
			max-width: 100%
			.price
				display: none
			.bike_img
				height: 210px
				position: absolute
				bottom: 106px
				right: 25px
			img
				max-width: 313px
			.bike_title
				margin: 0
		.bike_description
			margin: 30px 0 0 0
		.bike_slide:nth-child(3)
			flex-basis: 93.5%
			.bike_bgtext
				display: block
			.bike_speed
				p 
					margin: auto 20px auto  auto
			.bike_view
				.bike_description
					margin: 27px 0 0 0
					padding: 0
				.bike_img
					position: relative
					bottom: auto
					right: auto
				img
					max-width: 230px
					margin-right: 33px
		.bike_slide:nth-child(2)
			justify-content: flex-end
			.bike_view
				.bike_img
					left: 25px

@media only screen and (max-width : 375px)
	/**/
	.bikeslider_wrap
		.sectiontitle
			z-index: 1
			position: relative
			&:before
				opacity: 0.2
			h1, p 
				color: #fff
				border-bottom-color: #74afea
		.sectiontitle
			padding: 0 30px
		.bikeslider_section
			display: block
			box-shadow: none
			background: transparent
			.bike_slide, .bike_slide:nth-child(1), .bike_slide:nth-child(2), .bike_slide:nth-child(3) 
				display: flex
				flex-flow: column nowrap
				width: 335px
				height: 190px
				padding: 0
				margin: 0 10px 90px 0
				border-radius: 10px
				flex-basis: 100%
				&:after
					display: none
				.bike_bgtext
					display: block
				.bike_speed
					display: flex
					flex-flow: row nowrap
					justify-content: space-around
					position: absolute
					bottom: 9px
					left: 20px
					right: 20px
					p
						margin: 0
						font-size: 12px
						flex-basis: 27%
						span 
							font-size: 20px
							margin: 3px 0
							i 
								font-size: 14px
				.bike_view
					display: block
					.bike_img
						display: block
						position: absolute
						top: 32px
						left: 0
						img
							position: absolute
							height: 95px
							width: auto
							margin: 0
							left: 93px
						.price
							display: block
							margin-left: 196px
							top: -17px
					.bike_description
						display: block
						position: absolute
						margin: 0
						top: 13px
						left: 13px
						.bike_title
							h3, p
								font-size: 12px
								display: block
								width: 100%
								width: 180px
							h3
								line-height: 12px 
						.bike_title + p 
							position: absolute
							width: 335px
							text-align: center
							top: 198px
			.slick-dots
				bottom: 0px
				li 
					button
						width: 10px
						height: 10px
					button:before 
						width: 10px
						height: 10px
						border: 1px solid #bbb
						border-radius: 10px
						content: ''
						background-color: #bbb
	.inner_blue
		position: absolute
		top: -56px
		left: -10px 
		right: -10px
	
	.sale
		position: relative
		z-index: 1
	.header 
		position: relative
		z-index: 100
		background-color: #FFF


	
					