.contacts_map_wrap
	#map 
		width: 100%
		height: 660px

.contacts_info
	display: block
	position: absolute
	z-index: 1
	background-color: #FFF
	width: 425px
	padding: 20px 30px 30px 30px 
	margin-top: -1px
	box-shadow: 0 5px 4px rgba(141, 141, 141, 0.25)
	border-radius: 0 0 5px 5px
	.ulcontainer
		display: flex
		flex-flow: row wrap
		ul
			flex-basis: 50%
			padding: 0
			margin: 25px 0 0 0
			list-style-type: none
			li
				color: #4a4a4a
				font-family: "P F  Beau Sans  Pro"
				font-size: 14px
				line-height: 20px
				font-weight: 400
				margin-top: 5px
				p, a
					font-weight: 600
					color: #4a4a4a
					text-decoration: none
				a:hover
					color: #5dcaf4
				p 
					margin-top: 12px
	h1
		margin-bottom: 20px
		line-height: 32px
	ul:last-child
		li 
			margin: 0 0 15px 0
			a 	
				display: block
				height: 30px
				background-size: contain
				background-repeat: no-repeat
				line-height: 30px
				.svbg
					display: inline-block
					background-color: #e5e5e5
					width: 30px
					height: 30px
					border-radius: 20px
					transition: .2s
					margin-right: 10px
					svg 
						margin: 10px 0 0 6px

	

		li:first-child
			a 
				&:hover
					.svbg
						background-color: #4973a7
		li:nth-child(2)
			a
				.svbg
					svg
						margin: 6px 0 0 8px 
				&:hover
					.svbg
						background-color: #43619c
		li:last-child
			a 
				.svbg
					svg
						margin: 8px 0 0 8px 
				&:hover
					.svbg
						background-color: #2a5b83
		

@media only screen and (max-width : 1000px)
	/**/
	.contacts_info
		margin-left: 20px

@media only screen and (max-width : 1000px)
	/**/
	.contacts_map_wrap
		padding-bottom: 370px
		#map 
			width: 100%
			height: 247px
	.contacts_info
		position: relative
		width: 100%
		margin: 0
		padding: 14px 20px 35px 14px
		.ulcontainer
			ul 
				flex-basis: 45%
		h1
			margin-bottom: 10px