@import "bourbon"

+font-face("P F  Beau Sans  Pro", "../fonts/PFBeauSansPro/pfbeausanspro-regular-webfont", $file-formats: eot woff woff2 ttf otf svg)
+font-face("P F  Beau Sans  Pro", "../fonts/PFBeauSansPro/pfbeausanspro-bold-webfont", bold, $file-formats: eot woff woff2 ttf otf svg)
+font-face("P F  Beau Sans  Pro", "../fonts/PFBeauSansPro/pfbeausanspro-semibold-webfont", 600, $file-formats: eot woff woff2 ttf otf svg)
+font-face("P F  Beau Sans  Pro Black", "../fonts/PFBeauSansPro/pfbeausanspro-black-webfont", $file-formats: eot woff woff2 ttf otf svg)
+font-face("P F  Beau Sans  Pro Black", "../fonts/PFBeauSansPro/pfbeausanspro-blackitalic-webfont", italic, $file-formats: eot woff woff2 ttf otf svg)



h1, h2, h3, h4, h5, h6, p 
	margin: 0

h1
	font-family: 'P F  Beau Sans  Pro'
	font-weight: 600
	font-size: 42px
	line-height: 51px
	color: #5dcaf4

h2
	font-family: 'P F  Beau Sans  Pro'
	font-weight: 600
	font-size: 25px
	line-height: 24px
	color: #4a4a4a

h3
	font-family: "P F  Beau Sans  Pro"
	font-weight: bold
	font-size: 18px
	line-height: 22px
	color: #363636

.lead
	font-family: "P F  Beau Sans  Pro"
	font-weight: 600
	font-size: 16px
	line-height: 22px
	color: #363636

p 
	font-family: "P F  Beau Sans  Pro"
	font-weight: normal
	font-size: 14px	
	line-height: 20px
	color: #4a4a4a

.pmark
	font-family: "P F  Beau Sans  Pro"
	font-weight: normal
	font-size: 12px
	line-height: 20px
	color: #8e8e8e

a 
	font-family: "P F  Beau Sans  Pro"
	font-weight: normal
	font-size: 14px
	line-height: 22px
	color: #25aee2
	transition: 0.2s
	outline: none


//+++++++++MEDIA+++++++++
@media only screen and (max-width : 1000px)
	/**/
	h1
		font-size: 40px
		line-height: 48px
	h2
		font-size: 23px
		line-height: 24px



/* Custom, iPhone Retina */
@media only screen and (max-width : 375px)
	/**/
	h1
		font-size: 30px
		line-height: 37px
