@import "bourbon"

header
	border-bottom: 2px solid #f3f3f3
	padding-bottom: 21px
	*
		margin: 0
		padding: 0
		font-family: "P F  Beau Sans  Pro"


.topline
	display: flex
	justify-content: space-between
	padding: 31px 0 0 0
	list-style-type: none
	div 
		margin-top: 22px
	.logo_s
		margin-top: 0
		.logo
			display: block
		.logomob
			display: none
		p 	
			font-size: 12px
			line-height: 0
			margin: 9px 0 0 3px
	.bucket_wrap
		margin-top: 0

.links, .links+div 
	font-size: 14px
	list-style-type: none
	a 
		color: #8e8e8e
		text-decoration: none
		border-bottom: 1px solid #b9b9b9
		transition: 0.2s
		padding-bottom: 2px
		margin-bottom: 5px
		&:hover
			color: #5dcaf4
			border-bottom-color: #5dcaf4

.time
	color: #5a5a5a
	font-size: 12px
	p 
		color: #b9b9b9
		line-height: 12px

.phone
	color: #b9b9b9
	font-size: 12px
	a 
		color: #5a5a5a
		font-size: 25px
		text-decoration: none
		line-height: 24px
		transition: 0.2s
		span
			color: #8e8e8e
			font-size: 16px
			transition: 0.2s
		&:hover
			color: #222
			span
				color: #222

//Меню - нижняя строка topnav

nav.topnav 
	margin-top: 25px
	ul
		padding: 0
		margin: 0
		list-style-type: none
		display: flex
		justify-content: space-between
		li 
			margin: 0
			padding: 0
			height: 45px
			border-right: 2px solid #f3f3f3

			a
				display: inline-block 
				color: #363636
				font-size: 18px
				font-weight: bold
				text-decoration: none
				margin-right: 19px
				line-height: 43px
				transition: 0.2s
				span
					border-bottom: 1px solid #f3f3f3
					line-height: 43px
				&:hover
					span
						border-bottom-color: #363636
			img
				float: left
				margin-right: 10px
		li:nth-child(5)
			border: none
		li:nth-child(3)
			img 
			    margin-top: -10px

// Элемент меню, который "скоро будет""
.fade
	z-index: 0
	a
		pointer-events: none
    	cursor: default	
		opacity: 0.3
	img
		opacity: 0.3
	.soon
		background-color: #cecece
		border-radius: 3px
		display: inline-block
		text-transform: uppercase
		color: #fff
		font-size: 12px
		vertical-align: top
		line-height: 11px
		padding: 5px 8px
		margin-left: -79px
		margin-top: -10px

//Всплывающее превью корзины
.topline
	.bucket_preview
		z-index: 2
		position: absolute
		width: 375px
		background-color: white
		border: 1px solid #5dcaf4
		border-radius: 5px
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.15)
		top: 104px
		margin-left: -205px
		transition: 0.2s
		margin-top: 0
		&:before //треугольничек
			content: ''
			border: 11px solid transparent
			border-bottom: 11px solid #5dcaf4
			position: absolute
			right: 64px
			top: -23px
		h1 
			text-align: center
			vertical-align: top
			width: 100%
			line-height: 23px
			font-size: 18px
			padding: 14px 0 10px 0
			border-bottom: 2px solid #f2f2f2
		div
			margin-top: 0

	.product_preview
		display: flex
		justify-content: space-between
		padding: 15px 8px 15px 20px
		border-bottom: 1px solid #f2f2f2
		margin-top: 0


	.product_image
		margin-right: 20px
		img
			width: 100px
			height: auto    

	.product_counter
		text-align: center
		margin-top: 18px
		a 
			color: #cecece
			font-size: 20px
			text-decoration: none
			vertical-align: middle
			&:hover
				color: #979797
		.skew_border
			display: inline-block
			border: 1px solid #25aee2
			transform: skew(-12deg)
			border-radius: 4px
			margin: 0px 8px
			span
				display: inline-block
				transform: skew(12deg)
				color: #25aee2
				padding: 0px 15px
				line-height: 25px
				font-size: 16px

	.bucket_products, .go_to_bucket
			margin-top: 0

	.product_desc
		margin-top: 0
		p:first-child 
			color: #363636
			border-bottom: 1px solid rgba(151, 151, 151, 0.3)
			display: inline
		.price_wrap
			margin-top: 0
			padding-top: 14px	
		.sale
			color: #8e8e8e
			font-size: 12px
			text-decoration: line-through
		p.price
			color: #363636
			font-size: 16px
			font-weight: bold
			line-height: 22px
			border: none



	.product_del
		margin-left: 17px
		a 
			display: block
			width: 44px
			height: 44px
			background-color: transparent
			border-radius: 100px
			background-image: url("../img/svg/del.svg")
			background-repeat: no-repeat
			background-position: center
			line-height: 105px
			color: transparent
			font-size: 10px
			text-align: center
			text-decoration: none
			transition: all 0.2s
			&:hover
				color: #fa6e64
				background-color: #fff1f1
				background-image: url("../img/svg/del_hover.svg")



	.go_to_bucket
		margin: 16px 10px 0px 10px
		text-align: center
		box-shadow: 0px -5px 5px -4px rgba(0,0,0,0.06)
		padding: 21px 0 28px 0
		p 
			font-size: 16px
			color: #4a4a4a
			margin-bottom: 15px
		span
			font-size: 20px
			font-weight: 600
			margin-left: 15px
		b
			font-weight: normal
			font-size: 30px





	.bucket_preview.one_element
		.go_to_bucket
			margin-top: 0

	.bucket_preview.scroll_element
		.bucket_products
			margin-top: 0
			height: 400px
			overflow-y: scroll
			&::-webkit-scrollbar
				width: 4px
				background-color: #eee
			&::-webkit-scrollbar-track 
				-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1)
				-webkit-border-radius: 3px
				border-radius: 3px
			&::-webkit-scrollbar-thumb
				-webkit-border-radius: 10px
				border-radius: 10px
				background: rgba(0,0,0,0.2)
				-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.1)
			&::-webkit-scrollbar-thumb:window-inactive 
				background: rgba(0,0,0,1)

 


.visi
	display: block








//Скрываем блоки мобильных для больших разрешений
.mobile_menu_toggle, .mobile_bucket_toggle, nav.topnav .links, nav.topnav .phone, .logomob
	display: none

//Адаптив
			
@media only screen and (max-width : 1000px)
	/**/
	.topline
		.time
			display: none

	nav.topnav 
		ul 
			li 
				a 
					font-size: 16px
					margin-right: 7px
				img 
					margin: 0



@media only screen and (max-width : 375px)
	/**/
	header
		width: 100%
		padding-bottom: 0
		border-bottom: none
		position: fixed
		top: 0
		z-index: 10
		nav.topnav
			position: absolute
			top: -600px
			transition: .3s
			z-index: 0
			ul 
				display: flex
				flex-flow: row wrap
				align-content: flex-end
				z-index: 0
				li
					flex-basis: 49.7%
					margin: 0
					padding: 33px 0 17px 0
					height: auto
					text-align: center
					border: none
					border-bottom: 2px solid #363636
					a 
						margin: 0
						color: #fff
						border: none
					img
						float: none
						display: block
						height: 54px
						margin: 0 auto
				li.fade
					order: 1
					flex-basis: 100%
					padding: 15px
					.soon
						display: block
						width: 52px
						margin: 0 auto
						background-color: #4a4a4a
						padding: 5px 5px
						margin-top: -1px
				li:nth-child(2), li:nth-child(5)
					border-left: 2px solid #363636
					border-bottom: 2px solid #363636
				.phone, .links
					display: block
					order: 2
				.phone
					background-color: #353535
					flex-basis: 50%
					color: #b9b9b9
					a
				
						color: white
						font-size: 20px
						font-weight: normal

					span
						font-weight: normal
						color: #8e8e8e
						font-size: 16px
				.links
					flex-basis: 100%
					padding: 10px 0
					text-align: center
					a
						color: #cecece
						font-size: 14px
						font-weight: 400
						margin: 0 13px
						border-bottom: 1px solid #585858
						&:hover, &:focus
							color: white
		.topline
			position: relative
			z-index: 1
			padding: 0 20px
			height: 53px
			align-items: center
			border-bottom: 1px solid #cecece
			background-color: #fff
			transition: 0.3s
			div 
				display: none
				margin: 0
			.mobile_menu_toggle, .logo_s, .mobile_bucket_toggle, .toggle_svg_skew
				display: block
			.logo_s
				p 
					display: none
				img
					height: 37px
					width: 121px
			.mobile_menu_toggle
				border-right: 1px solid #cecece
				padding: 20px 20px 10px 0
				transform: skew(-14deg)
			.mobile_bucket_toggle	
				border-left: 1px solid #cecece	
				transform: skew(-14deg)
				padding: 19px 0 4px 20px
			.toggle_svg_skew
				transform: skew(14deg)
			.mobile_bucket_counter
				display: block
				position: absolute
				color: #4a4a4a
				font-size: 12px
				font-weight: bold
				background-color: #c9f725
				padding: 0 5px
				line-height: 16px
				border-radius: 9px
				top: -3px
				right: -13px
			.cross
				display: none
	

	header.active //mobilemenu
		padding-bottom: 60px
		background-color: rgba(57, 57, 57, .97)
		top: 0 
		height: 100%
		overflow-y: scroll
		overflow-x: hidden
		.topline
			background-color: #393939
			box-shadow: 0 2px 4px #323232
			border-bottom: none
			.logo
				display: none
			.logomob
				display: block
				margin-left: 10px
			.mobile_bucket_toggle	
				border-left: 1px solid #1d1d1d
			.mobile_menu_toggle
				border-right: 1px solid #1d1d1d
				svg
					display: none
				.cross
					display: inline-block
		nav.topnav
			margin-top: 0
			position: absolute
			top: 55px
			padding-bottom: 60px
			ul 
				display: flex
				flex-flow: row wrap
				align-content: flex-end
				z-index: 0
				li
					flex-basis: 49.7%
					margin: 0
					padding: 33px 0 17px 0
					height: auto
					text-align: center
					border: none
					border-bottom: 2px solid #363636

					a 
						margin: 0
						color: #fff
						border: none
					img
						float: none
						display: block
						height: 54px
						margin: 0 auto

				li.fade
					order: 1
					flex-basis: 100%
					padding: 15px
					.soon
						display: block
						width: 52px
						margin: 0 auto
						background-color: #4a4a4a
						padding: 5px 5px
						margin-top: -1px
				li:nth-child(2), li:nth-child(5)
					border-left: 2px solid #363636
					border-bottom: 2px solid #363636
		.topnav_mobile_active
			display: flex
			flex-flow: row wrap
			align-content: flex-end
			.phone, .links
				display: block
				order: 2
			.phone
				background-color: #353535
				flex-basis: 50%
				color: #b9b9b9
				padding: 30px 0 20px 0
				text-align: center
				a
			
					color: white
					font-size: 20px
					font-weight: normal
					line-height: 50px


				span
					font-weight: normal
					color: #8e8e8e
					font-size: 16px
			.links
				flex-basis: 100%
				padding: 10px 0
				text-align: center
				padding: 30px
				ul
					display: block
					li 
						display: inline
						border: none!important
						width: auto
						padding: 0
						margin: 0
					a
						color: #cecece
						font-size: 14px
						font-weight: 400
						line-height: 18px
						margin: 0 13px
						border-bottom: 1px solid #585858
						&:hover, &:focus
							color: white
	.white_BG
		padding-top: 53px




