@import "bourbon"

.rowabout_wrap
	margin-top: 45px
	background-size: cover
	background-position: bottom left
	width: 100%
	border-radius: 5px
	p 
		text-shadow: 0 2px 25px black
		color: white
		font-size: 27px
		line-height: 30px
	h1
		color: white
		text-shadow: 0 2px 25px black
	.main_p 
		max-width: 717px
		display: block


.about_flex
	padding: 50px
	.points_wrap, .about_text
		height: 84%
		display: flex
		justify-content: space-between
		flex-flow: row wrap
		flex-basis: 49%
		align-items: stretch
		.points
			margin-top: 60px
			flex-basis: 27%
			svg
				float: left
			p 
				display: block
				line-height: 22px
				font-size: 14px
			b
				font-size: 18px
				font-weight: 900







@media only screen and (max-width : 375px)
	/**/
	.rowabout_wrap
		margin-top: 36px
		border-radius: 0
		background-image: url("/components/bitrix/rowabout/bgabout_mobile.jpg")
		p 
			font-size: 20px
			line-height: 25px
			font-weight: 400

	.about_flex
		padding: 36px 20px
		.points_wrap
			margin-top: 10px
			.points
				flex-basis: 100%
				margin-top: 26px
				p 
					width: 250px
					float: right
			.points:nth-child(2)
				svg
					margin-left: 6px
			.points:nth-child(3)
				svg
					margin-left: 13px
	
	.about_text
		div:first-child
			order: 1
		.main_p
			margin-top: 12px








@media only screen and (min-width : 500px)
	/**/
	.rowabout_wrap
		background-image: url("/components/bitrix/rowabout/bgabout.jpg")
