@import "bourbon"

.saleblock
	margin-top: 15px
	display: flex
	justify-content: space-between
	z-index: 10
	img
		width: 100%
		max-width: 390px
		height: auto
		border-radius: 4px
	a:nth-child(2)
		margin: 0 10px
	a:hover, a:focus, a:active
		img
			box-shadow: 0 0 13px rgba(0, 0, 0, 0.3)
	

@media only screen and (max-width : 1000px)
	/**/
	.saleblock
		img
			width: 305px
			height: 43px

@media only screen and (max-width : 375px)
	/**/
	.saleblock
		justify-content: center
		margin-top: 10px
		a:first-child
			display: block
			margin: 0 auto
			img
				width: 335px
				height: auto
				margin: 0 auto
		a:nth-child(2), a:nth-child(3)
			display: none