.servicepage
	padding-bottom: 1px;
	h1
		margin: 20px 0

	.service_block
		position: relative
		height: 340px
		width: auto
		margin: 0 auto 40px auto
		border-radius: 11px
		background-repeat: no-repeat
		background-size: 100% 100%
		background-position: center center
		background-color: transparent
		padding: 40px 80px 0px 347px
		box-shadow: 0 24px 20px rgba(0, 0, 0, 0.15)
		h2
			color: white
			font-size: 42px
			font-weight: 600
			line-height: 50px
			max-width: 447px
			margin-bottom: 20px
		p 
			color: white
			font-size: 14px
			line-height: 24px
			max-width: 645px
			margin-bottom: 20px
		a 
			font-size: 16px
			display: block
			font-weight: 700
			width: 104px
			height: 42px
			line-height: 45px
			color: white
			text-decoration: none
			text-align: center
			background-color: rgba(0, 0, 0, 0.25)
			border: 2px solid white
			border-radius: 2px
			box-shadow: 0 3px 2px #262626
			transform: skewY(-14deg) rotate(14deg)
			position: absolute
			top: 50px
			right: 52px
			&:hover
				color: #9c6af9
				border: 2px solid #9c69f9
	.service_block:nth-child(5)
		margin-bottom: 50px

//Всплывающее окно
#fancy_window
	display: none
	width: 300px
	background-color: #FFF
	overflow-x: hidden
	padding: 40px 30px
	margin: 0 auto
	border-radius: 10px
	.corner
		content: ''
		display: block
		position: absolute
		top: 0
		right: 0
		border: 30px solid transparent
		border-top: 30px solid #eee 
		border-right: 30px solid #eee
		border-radius: 0 10px 0 0
	h2
		font-size: 23px
		color: #4a4a4a
		font-weight: 700
	input
		display: block
		font-size: 14px
		width: 100%
		height: 20px
		border: none
		outline: none
		color: #4a4a4a
		border-bottom: 1px solid #e8e8e8
		margin-top: 24px
		transition: 0.2s
		&:focus
			border-bottom: 1px solid #a5a5a5
	.submit
		display: block
		width: 104px
		height: 29px
		background-color: #9c69f9
		box-shadow: 0 2px 2px #d9c5ff
		border-radius: 3px
		transform: skewY(-14deg) rotate(14deg)
		border: none
		text-decoration: none
		text-align: center
		margin-top: 28px
		span
			display: block
			color: white
			font-size: 14px
			font-weight: 600
			line-height: 29px
	.complete
		img
			margin-bottom: 20px
		h2
			margin-bottom: 10px




@media only screen and (max-width : 1000px)
	/**/
	.servicepage
		.service_block
			height: 470px
			background-size: cover
			background-position: top left
			padding: 40px 80px 0px 287px

@media only screen and (max-width : 375px)
	/**/
	#fancy_window
		width: 260px
	.servicepage
		padding: 0 20px
		.service_block
			height: 168px
			padding: 0
			transition: .5s
			p, a 
				display: none
				transition: .5s
			h2
				padding: 53px 0 0 89px
				font-size: 23px
				line-height: 30px
				max-width: 230px


		.service_block.active
			height: auto
			background-size: 100% 168px
			background-position: top center
			padding: 0
			margin-bottom: 31px
			a 
				display: block
				position: absolute
				top: auto
				right: auto
				width: 175px
				height: 45px
				background-color: #9c69f9
				box-shadow: 0 2px 2px #d9c5ff
				border: none
				left: 20px
				bottom: 25px
				&:hover, &:active, &:focus
					border: none
					color: black
					background-color: yellow
			p 
				display: block
				color: #262626
				padding: 0 20px
				margin: 0
			h2
				margin-bottom: 73px
			p:last-child
				padding-bottom: 90px
				margin-top: 20px

		.service_block:nth-child(5)
			h2
				padding: 70px 0 0 89px
