.shipandpay
	h1
		margin: 30px 0
	h2
		margin-bottom: 20px
	h3
		color: #4a4a4a
		font-weight: 600
		margin-bottom: 5px
	ul, li 
		margin: 0
		padding: 0
		list-style-type: none
	li, p 
		line-height: 24px
		margin-bottom: 20px
		font-family: "P F  Beau Sans  Pro"
		color: #4a4a4a
		font-size: 14px
		b 
			font-weight: 600
	li:before
		content: '–'
		color: #25aee2
		float: left
		margin-right: 5px

.shipandpay_flex_wrap, .garanty
	display: flex
	flex-flow: row wrap
	justify-content: space-between
	padding-bottom: 50px
	.shipandpay_block
		flex-basis: 47.9%
	.shipandpay_block:nth-child(2)
		ul 
			padding-left: 44px
		li:before
			display: none
		li:nth-child(3)
			margin-top: 30px
	.garanty
		width: 100%
		.left, .right
			.inner_shipandpay
				height: 100%
				box-shadow: 0 5px 4px #f3f3f3
				border: 1px solid #cecece
				border-radius: 10px
				padding: 30px 20px 13px 20px
				p 
					max-width: 347px
					margin-bottom: 0
	img
		float: left
		margin-left: -44px
	img+h3+p 
		margin-left: 45px
	img.ccards
		display: block
		margin: 5px 0 0 0
		float: none
	.ul+p
		margin-top: 45px



@media only screen and (max-width : 375px)
	/**/
	.shipandpay
		padding: 0 20px
		h1
			margin: 10px 0 20px 0
			font-size: 35px
		h2
			font-weight: 700
			margin-bottom: 10px
		h3
			font-size: 16px

	.shipandpay_flex_wrap
		justify-content: center
		.shipandpay_block
			flex-basis: 100%
		.left
			margin-bottom: 66px
