<link rel="stylesheet" href="/libs/slick/slick.css">
<link rel="stylesheet" href="/libs/slick/slick-theme.css">
<script src="/libs/slick/slick.min.js"></script>
<script src="/components/bitrix/bikeslider/bikeslider.js"></script>


<div class="bikeslider_wrap">

	<div class="container_wrap">

		<div class="container">

		<div class="inner_blue"><div class="inner_blue_bg"></div></div>
	
			<div class="sectiontitle">
				<h1>Электровелосипеды</h1>
				<p>Краткий текст про ахуительные велики. Вообщем какая-то реклама</p>
			</div>

			<div class="bikeslider_section">
				<a class="bike_slide" href="#">
					<div class="bike_bgtext">BANAN</div>
					<div class="bike_speed">
						<p>
							<svg xmlns="http://www.w3.org/2000/svg" width="35.5" height="27"><defs><filter id="a" width="200%" height="200%" x="-50%" y="-50%"><feMorphology operator="dilate" result="SvgjsFeMorphology1009Out" in="SourceGraphic"/><feOffset dx="1" dy="2" result="SvgjsFeOffset1010Out" in="SvgjsFeMorphology1009Out"/><feGaussianBlur result="SvgjsFeGaussianBlur1011Out" in="SvgjsFeOffset1010Out"/><feComposite in="SvgjsFeGaussianBlur1011Out" in2="SourceAlpha" operator="out" result="SvgjsFeComposite1012Out"/></filter></defs><path fill-opacity=".08" d="M419.7 410.88c-.1-.24-.26-.44-.48-.62-.22-.17-.46-.26-.7-.26h-6.34c.16 0 .3.06.43.18.14.12.2.26.22.42l.28 3.6c0 .17-.04.3-.15.42-.1.12-.25.17-.4.17h-3.1c-.17 0-.3-.06-.42-.18-.1-.1-.16-.25-.15-.43l.28-3.6c0-.16.08-.3.2-.42.13-.12.27-.18.43-.18h-6.34c-.24 0-.48.1-.7.26-.23.18-.4.38-.5.62l-7.77 19.55c-.34.77-.5 1.5-.5 2.17 0 .9.3 1.36.86 1.36 0 0 12.3.16 12.44.15.14 0 .14-.73.14-.74l.37-4.8c.03-.15.1-.3.22-.4.12-.13.27-.2.43-.2h5.08c.16 0 .3.07.43.2.12.1.2.25.2.4l.37 4.8c.02.17 0 .6.22.6h12.37c.57 0 .86-.45.86-1.36 0-.68-.17-1.4-.5-2.17zm-6.04 13.35c-.1.1-.25.15-.4.15h-4.55c-.14 0-.27-.05-.38-.15-.1-.1-.16-.23-.15-.38v-.07l.45-6c0-.15.08-.3.2-.4.13-.13.27-.2.43-.2h3.47c.17 0 .3.07.43.2.13.1.2.25.2.4l.46 6v.07c.02.15-.03.28-.14.38z" filter="url(#a)" transform="translate(-394 -410)"/><path fill="#cecece" d="M25.7.88c-.1-.24-.26-.44-.48-.62C25 .1 24.76 0 24.52 0h-6.34c.16 0 .3.06.43.18.14.12.2.26.22.42l.28 3.6c0 .17-.04.3-.15.42-.1.12-.25.17-.4.17h-3.1c-.17 0-.3-.06-.42-.18-.1-.1-.16-.25-.15-.43l.28-3.6c0-.16.08-.3.2-.42.13-.12.27-.18.43-.18H9.45c-.24 0-.48.1-.7.26-.23.18-.4.38-.5.62L.5 20.43c-.34.77-.5 1.5-.5 2.17 0 .9.3 1.36.86 1.36 0 0 12.3.16 12.44.15.14 0 .14-.73.14-.74l.37-4.8c.03-.15.1-.3.22-.4.12-.13.27-.2.43-.2h5.08c.16 0 .3.07.43.2.12.1.2.25.2.4l.37 4.8c.02.17 0 .6.22.6h12.37c.57 0 .86-.45.86-1.36 0-.68-.17-1.4-.5-2.17zm-6.04 13.35c-.1.1-.25.15-.4.15h-4.55c-.14 0-.27-.05-.38-.15-.1-.1-.16-.23-.15-.38v-.07l.45-6c0-.15.08-.3.2-.4.13-.13.27-.2.43-.2h3.47c.17 0 .3.07.43.2.13.1.2.25.2.4l.46 6v.07c.02.15-.03.28-.14.38z"/></svg>
							<span>85<i>км</i></span>Дальность пробега
						</p>
						<p>
							<svg xmlns="http://www.w3.org/2000/svg" width="30" height="31"><defs><filter id="a" width="200%" height="200%" x="-50%" y="-50%"><feMorphology operator="dilate" result="SvgjsFeMorphology1027Out" in="SourceGraphic"/><feOffset dx="1" dy="2" result="SvgjsFeOffset1028Out" in="SvgjsFeMorphology1027Out"/><feGaussianBlur result="SvgjsFeGaussianBlur1029Out" in="SvgjsFeOffset1028Out"/><feComposite in="SvgjsFeGaussianBlur1029Out" in2="SourceAlpha" operator="out" result="SvgjsFeComposite1030Out"/></filter></defs><path fill-opacity=".08" d="M993 549.5c0 8 6.5 14.5 14.5 14.5s14.5-6.5 14.5-14.5-6.5-14.5-14.5-14.5-14.5 6.5-14.5 14.5zm11.84 2.58c-1.07-1.07-1.07-2.82 0-3.9.66-.63 1.55-.88 2.4-.75l7.17-4.86-4.9 7.16c.14.83-.12 1.72-.77 2.37-1.08 1.07-2.82 1.06-3.9-.02zm15.5-4.33l.06.4c0 .12.03.24.04.36 0 .12.02.23.03.32 0 .1 0 .16.02.23 0 .27.02.4.02.4l-2.95.08v-.4-.22-.2-.26l-.03-.3c-.04-.44-.1-.97-.26-1.56-.15-.6-.37-1.26-.7-1.94-.32-.7-.76-1.4-1.32-2.08-.28-.34-.58-.68-.92-1l-.53-.46c-.08-.08-.17-.15-.27-.22l-.3-.22c-.78-.57-1.68-1.04-2.65-1.38-.5-.18-1-.3-1.5-.4-.27-.05-.53-.1-.8-.13-.12 0-.25-.03-.4-.04H1007.52s-.02 0 0-.02h-.8c-.27 0-.53.03-.8.05-.53.06-1.06.15-1.57.28-1.02.28-2 .68-2.88 1.2l-.32.2-.32.22c-.2.14-.4.28-.6.44-.38.3-.73.64-1.06.97-.66.7-1.2 1.4-1.63 2.13-.4.72-.72 1.43-.94 2.07-.23.65-.36 1.23-.44 1.72l-.06.34c0 .1-.03.2-.04.3l-.05.5c0 .25-.02.4-.02.4v-.4-.5-.3l.04-.37c.04-.5.12-1.1.3-1.77.17-.68.43-1.43.8-2.22.38-.78.9-1.58 1.53-2.36.32-.38.67-.77 1.06-1.13.18-.18.38-.35.6-.53l.3-.25.34-.24c.9-.65 1.94-1.18 3.05-1.56.54-.2 1.12-.34 1.7-.46.3-.04.6-.1.9-.12.32-.04.6-.05.88-.07H1008.4l.9.08c.6.07 1.2.17 1.78.32 1.17.3 2.27.78 3.26 1.37l.37.23.36.24c.23.17.47.33.68.5.44.35.84.73 1.2 1.1.75.8 1.36 1.6 1.84 2.42.47.82.82 1.62 1.06 2.35.25.74.4 1.4.5 1.95z" filter="url(#a)" transform="translate(-993 -535)"/><path fill="#cecece" d="M0 14.5C0 22.5 6.5 29 14.5 29S29 22.5 29 14.5 22.5 0 14.5 0 0 6.5 0 14.5zm11.84 2.58c-1.07-1.07-1.07-2.82 0-3.9.66-.63 1.55-.88 2.4-.75l7.17-4.86-4.9 7.16c.14.83-.12 1.72-.77 2.37-1.08 1.07-2.82 1.06-3.9-.02zm15.5-4.33l.06.4c0 .12.03.24.04.36 0 .12.02.23.03.32 0 .1 0 .16.02.23 0 .27.02.4.02.4l-2.95.08v-.4-.22-.2-.26l-.03-.3c-.04-.44-.1-.97-.26-1.56-.15-.6-.37-1.26-.7-1.94-.32-.7-.76-1.4-1.32-2.08-.28-.34-.58-.68-.92-1l-.53-.46c-.08-.08-.17-.15-.27-.22l-.3-.22c-.78-.57-1.68-1.04-2.65-1.38-.5-.18-1-.3-1.5-.4-.27-.05-.53-.1-.8-.13-.12 0-.25-.03-.4-.04H14.52s-.02 0 0-.02h-.8c-.27 0-.53.03-.8.05-.53.06-1.06.15-1.57.28-1.02.28-2 .68-2.88 1.2l-.32.2-.32.22c-.2.14-.4.28-.6.44-.38.3-.73.64-1.06.97-.66.7-1.2 1.4-1.63 2.13-.4.72-.72 1.43-.94 2.07-.23.65-.36 1.23-.44 1.72l-.06.34c0 .1-.03.2-.04.3l-.05.5c0 .25-.02.4-.02.4v-.4-.5-.3l.04-.37c.04-.5.12-1.1.3-1.77.17-.68.43-1.43.8-2.22.38-.78.9-1.58 1.53-2.36.32-.38.67-.77 1.06-1.13.18-.18.38-.35.6-.53l.3-.25.34-.24c.9-.65 1.94-1.18 3.05-1.56.54-.2 1.12-.34 1.7-.46.3-.04.6-.1.9-.12.32-.04.6-.05.88-.07H15.4l.9.08c.6.07 1.2.17 1.78.32 1.17.3 2.27.78 3.26 1.37l.37.23.36.24c.23.17.47.33.68.5.44.35.84.73 1.2 1.1.75.8 1.36 1.6 1.84 2.42.47.82.82 1.62 1.06 2.35.25.74.4 1.4.5 1.95z"/></svg>
							<span>80<i>км/ч</i></span>Максимальная скорость
						</p>
						<p>
							<svg xmlns="http://www.w3.org/2000/svg" width="34" height="27"><defs><filter id="a" width="200%" height="200%" x="-50%" y="-50%"><feMorphology operator="dilate" result="SvgjsFeMorphology1036Out" in="SourceGraphic"/><feOffset dx="1" dy="2" result="SvgjsFeOffset1037Out" in="SvgjsFeMorphology1036Out"/><feGaussianBlur result="SvgjsFeGaussianBlur1038Out" in="SvgjsFeOffset1037Out"/><feComposite in="SvgjsFeGaussianBlur1038Out" in2="SourceAlpha" operator="out" result="SvgjsFeComposite1039Out"/></filter><filter id="b" width="200%" height="200%" x="-50%" y="-50%"><feMorphology operator="dilate" result="SvgjsFeMorphology1043Out" in="SourceGraphic"/><feOffset dx="1" dy="2" result="SvgjsFeOffset1044Out" in="SvgjsFeMorphology1043Out"/><feGaussianBlur result="SvgjsFeGaussianBlur1045Out" in="SvgjsFeOffset1044Out"/><feComposite in="SvgjsFeGaussianBlur1045Out" in2="SourceAlpha" operator="out" result="SvgjsFeComposite1046Out"/></filter><filter id="c" width="200%" height="200%" x="-50%" y="-50%"><feMorphology operator="dilate" result="SvgjsFeMorphology1050Out" in="SourceGraphic"/><feOffset dx="1" dy="2" result="SvgjsFeOffset1051Out" in="SvgjsFeMorphology1050Out"/><feGaussianBlur result="SvgjsFeGaussianBlur1052Out" in="SvgjsFeOffset1051Out"/><feComposite in="SvgjsFeGaussianBlur1052Out" in2="SourceAlpha" operator="out" result="SvgjsFeComposite1053Out"/></filter><filter id="d" width="200%" height="200%" x="-50%" y="-50%"><feMorphology operator="dilate" result="SvgjsFeMorphology1057Out" in="SourceGraphic"/><feOffset dx="1" dy="2" result="SvgjsFeOffset1058Out" in="SvgjsFeMorphology1057Out"/><feGaussianBlur result="SvgjsFeGaussianBlur1059Out" in="SvgjsFeOffset1058Out"/><feComposite in="SvgjsFeGaussianBlur1059Out" in2="SourceAlpha" operator="out" result="SvgjsFeComposite1060Out"/></filter><filter id="e" width="200%" height="200%" x="-50%" y="-50%"><feMorphology operator="dilate" result="SvgjsFeMorphology1064Out" in="SourceGraphic"/><feOffset dx="1" dy="2" result="SvgjsFeOffset1065Out" in="SvgjsFeMorphology1064Out"/><feGaussianBlur result="SvgjsFeGaussianBlur1066Out" in="SvgjsFeOffset1065Out"/><feComposite in="SvgjsFeGaussianBlur1066Out" in2="SourceAlpha" operator="out" result="SvgjsFeComposite1067Out"/></filter></defs><path fill-opacity=".08" d="M993.22 683.47V669.3h12.18l2.3-2.3H991v18.76h8l.87-2.3z" filter="url(#a)" transform="translate(-991 -664)"/><path fill="#cecece" d="M2.22 19.47V5.3H14.4L16.7 3H0v18.76h8l.87-2.3z"/><path fill-opacity=".08" d="M1020.23 671.38V667h-8.6l-.78 2.3h7.16v14.17h-13.64l-2.36 2.3h18.23v-4.3c.9 0 2.92.16 2.92-1.52v-6.78c0-2.02-2.15-1.8-2.92-1.8z" filter="url(#b)" transform="translate(-991 -664)"/><path fill="#cecece" d="M29.23 7.38V3h-8.6l-.78 2.3H27v14.17H13.37L11 21.77h18.23v-4.3c.9 0 2.92.16 2.92-1.52V9.17c0-2.02-2.15-1.8-2.92-1.8z"/><path fill-opacity=".08" d="M995 671v10.4h5.48l1.36-3.47h-4.72l6.26-6.93z" filter="url(#c)" transform="translate(-991 -664)"/><path fill="#cecece" d="M4 7v10.4h5.48l1.36-3.47H6.12L12.38 7z"/><path fill-opacity=".08" d="M1013.63 673.2l-7.63 8.2h9.98V671h-6.3l-.8 2.2z" filter="url(#d)" transform="translate(-991 -664)"/><path fill="#cecece" d="M22.63 9.2L15 17.4h9.98V7h-6.3l-.8 2.2z"/><path fill-opacity=".08" d="M1008.23 673.97l3.96-9.97-12.22 12.78 4.16-.06-5.14 11.7 13.4-14.5z" filter="url(#e)" transform="translate(-991 -664)"/><path fill="#cecece" d="M17.23 9.97L21.2 0 8.97 12.78l4.16-.06L8 24.42 21.4 9.9z"/></svg>
							<span>85<i>км</i></span>Время полной зарядки
						</p>
					</div>
					<div class="bike_view">
						<div class="bike_img">
							
							<div class="price"><span>130 000 руб.</span></div>
							<img src="/components/bitrix/bikeslider/photo-bike-copy.png" alt="">
						</div>
						<div class="bike_description">
							<div class="bike_title">
								<p>Электровелосипед</p>	
								<h3>Chesnok BANAN</h3>
							</div>
							<p>Продукт для тех, кто ценит легость обычного велосипеда и крутые характеристики</p>
						</div>
					</div>
				</a>
				<a class="bike_slide" href="#">
					<div class="bike_bgtext">COMFORT</div>
					<div class="bike_speed">
						<p>
							<svg xmlns="http://www.w3.org/2000/svg" width="35.5" height="27"><defs><filter id="a" width="200%" height="200%" x="-50%" y="-50%"><feMorphology operator="dilate" result="SvgjsFeMorphology1009Out" in="SourceGraphic"/><feOffset dx="1" dy="2" result="SvgjsFeOffset1010Out" in="SvgjsFeMorphology1009Out"/><feGaussianBlur result="SvgjsFeGaussianBlur1011Out" in="SvgjsFeOffset1010Out"/><feComposite in="SvgjsFeGaussianBlur1011Out" in2="SourceAlpha" operator="out" result="SvgjsFeComposite1012Out"/></filter></defs><path fill-opacity=".08" d="M419.7 410.88c-.1-.24-.26-.44-.48-.62-.22-.17-.46-.26-.7-.26h-6.34c.16 0 .3.06.43.18.14.12.2.26.22.42l.28 3.6c0 .17-.04.3-.15.42-.1.12-.25.17-.4.17h-3.1c-.17 0-.3-.06-.42-.18-.1-.1-.16-.25-.15-.43l.28-3.6c0-.16.08-.3.2-.42.13-.12.27-.18.43-.18h-6.34c-.24 0-.48.1-.7.26-.23.18-.4.38-.5.62l-7.77 19.55c-.34.77-.5 1.5-.5 2.17 0 .9.3 1.36.86 1.36 0 0 12.3.16 12.44.15.14 0 .14-.73.14-.74l.37-4.8c.03-.15.1-.3.22-.4.12-.13.27-.2.43-.2h5.08c.16 0 .3.07.43.2.12.1.2.25.2.4l.37 4.8c.02.17 0 .6.22.6h12.37c.57 0 .86-.45.86-1.36 0-.68-.17-1.4-.5-2.17zm-6.04 13.35c-.1.1-.25.15-.4.15h-4.55c-.14 0-.27-.05-.38-.15-.1-.1-.16-.23-.15-.38v-.07l.45-6c0-.15.08-.3.2-.4.13-.13.27-.2.43-.2h3.47c.17 0 .3.07.43.2.13.1.2.25.2.4l.46 6v.07c.02.15-.03.28-.14.38z" filter="url(#a)" transform="translate(-394 -410)"/><path fill="#cecece" d="M25.7.88c-.1-.24-.26-.44-.48-.62C25 .1 24.76 0 24.52 0h-6.34c.16 0 .3.06.43.18.14.12.2.26.22.42l.28 3.6c0 .17-.04.3-.15.42-.1.12-.25.17-.4.17h-3.1c-.17 0-.3-.06-.42-.18-.1-.1-.16-.25-.15-.43l.28-3.6c0-.16.08-.3.2-.42.13-.12.27-.18.43-.18H9.45c-.24 0-.48.1-.7.26-.23.18-.4.38-.5.62L.5 20.43c-.34.77-.5 1.5-.5 2.17 0 .9.3 1.36.86 1.36 0 0 12.3.16 12.44.15.14 0 .14-.73.14-.74l.37-4.8c.03-.15.1-.3.22-.4.12-.13.27-.2.43-.2h5.08c.16 0 .3.07.43.2.12.1.2.25.2.4l.37 4.8c.02.17 0 .6.22.6h12.37c.57 0 .86-.45.86-1.36 0-.68-.17-1.4-.5-2.17zm-6.04 13.35c-.1.1-.25.15-.4.15h-4.55c-.14 0-.27-.05-.38-.15-.1-.1-.16-.23-.15-.38v-.07l.45-6c0-.15.08-.3.2-.4.13-.13.27-.2.43-.2h3.47c.17 0 .3.07.43.2.13.1.2.25.2.4l.46 6v.07c.02.15-.03.28-.14.38z"/></svg>
							<span>85<i>км</i></span>Дальность пробега
						</p>
						<p>
							<svg xmlns="http://www.w3.org/2000/svg" width="30" height="31"><defs><filter id="a" width="200%" height="200%" x="-50%" y="-50%"><feMorphology operator="dilate" result="SvgjsFeMorphology1027Out" in="SourceGraphic"/><feOffset dx="1" dy="2" result="SvgjsFeOffset1028Out" in="SvgjsFeMorphology1027Out"/><feGaussianBlur result="SvgjsFeGaussianBlur1029Out" in="SvgjsFeOffset1028Out"/><feComposite in="SvgjsFeGaussianBlur1029Out" in2="SourceAlpha" operator="out" result="SvgjsFeComposite1030Out"/></filter></defs><path fill-opacity=".08" d="M993 549.5c0 8 6.5 14.5 14.5 14.5s14.5-6.5 14.5-14.5-6.5-14.5-14.5-14.5-14.5 6.5-14.5 14.5zm11.84 2.58c-1.07-1.07-1.07-2.82 0-3.9.66-.63 1.55-.88 2.4-.75l7.17-4.86-4.9 7.16c.14.83-.12 1.72-.77 2.37-1.08 1.07-2.82 1.06-3.9-.02zm15.5-4.33l.06.4c0 .12.03.24.04.36 0 .12.02.23.03.32 0 .1 0 .16.02.23 0 .27.02.4.02.4l-2.95.08v-.4-.22-.2-.26l-.03-.3c-.04-.44-.1-.97-.26-1.56-.15-.6-.37-1.26-.7-1.94-.32-.7-.76-1.4-1.32-2.08-.28-.34-.58-.68-.92-1l-.53-.46c-.08-.08-.17-.15-.27-.22l-.3-.22c-.78-.57-1.68-1.04-2.65-1.38-.5-.18-1-.3-1.5-.4-.27-.05-.53-.1-.8-.13-.12 0-.25-.03-.4-.04H1007.52s-.02 0 0-.02h-.8c-.27 0-.53.03-.8.05-.53.06-1.06.15-1.57.28-1.02.28-2 .68-2.88 1.2l-.32.2-.32.22c-.2.14-.4.28-.6.44-.38.3-.73.64-1.06.97-.66.7-1.2 1.4-1.63 2.13-.4.72-.72 1.43-.94 2.07-.23.65-.36 1.23-.44 1.72l-.06.34c0 .1-.03.2-.04.3l-.05.5c0 .25-.02.4-.02.4v-.4-.5-.3l.04-.37c.04-.5.12-1.1.3-1.77.17-.68.43-1.43.8-2.22.38-.78.9-1.58 1.53-2.36.32-.38.67-.77 1.06-1.13.18-.18.38-.35.6-.53l.3-.25.34-.24c.9-.65 1.94-1.18 3.05-1.56.54-.2 1.12-.34 1.7-.46.3-.04.6-.1.9-.12.32-.04.6-.05.88-.07H1008.4l.9.08c.6.07 1.2.17 1.78.32 1.17.3 2.27.78 3.26 1.37l.37.23.36.24c.23.17.47.33.68.5.44.35.84.73 1.2 1.1.75.8 1.36 1.6 1.84 2.42.47.82.82 1.62 1.06 2.35.25.74.4 1.4.5 1.95z" filter="url(#a)" transform="translate(-993 -535)"/><path fill="#cecece" d="M0 14.5C0 22.5 6.5 29 14.5 29S29 22.5 29 14.5 22.5 0 14.5 0 0 6.5 0 14.5zm11.84 2.58c-1.07-1.07-1.07-2.82 0-3.9.66-.63 1.55-.88 2.4-.75l7.17-4.86-4.9 7.16c.14.83-.12 1.72-.77 2.37-1.08 1.07-2.82 1.06-3.9-.02zm15.5-4.33l.06.4c0 .12.03.24.04.36 0 .12.02.23.03.32 0 .1 0 .16.02.23 0 .27.02.4.02.4l-2.95.08v-.4-.22-.2-.26l-.03-.3c-.04-.44-.1-.97-.26-1.56-.15-.6-.37-1.26-.7-1.94-.32-.7-.76-1.4-1.32-2.08-.28-.34-.58-.68-.92-1l-.53-.46c-.08-.08-.17-.15-.27-.22l-.3-.22c-.78-.57-1.68-1.04-2.65-1.38-.5-.18-1-.3-1.5-.4-.27-.05-.53-.1-.8-.13-.12 0-.25-.03-.4-.04H14.52s-.02 0 0-.02h-.8c-.27 0-.53.03-.8.05-.53.06-1.06.15-1.57.28-1.02.28-2 .68-2.88 1.2l-.32.2-.32.22c-.2.14-.4.28-.6.44-.38.3-.73.64-1.06.97-.66.7-1.2 1.4-1.63 2.13-.4.72-.72 1.43-.94 2.07-.23.65-.36 1.23-.44 1.72l-.06.34c0 .1-.03.2-.04.3l-.05.5c0 .25-.02.4-.02.4v-.4-.5-.3l.04-.37c.04-.5.12-1.1.3-1.77.17-.68.43-1.43.8-2.22.38-.78.9-1.58 1.53-2.36.32-.38.67-.77 1.06-1.13.18-.18.38-.35.6-.53l.3-.25.34-.24c.9-.65 1.94-1.18 3.05-1.56.54-.2 1.12-.34 1.7-.46.3-.04.6-.1.9-.12.32-.04.6-.05.88-.07H15.4l.9.08c.6.07 1.2.17 1.78.32 1.17.3 2.27.78 3.26 1.37l.37.23.36.24c.23.17.47.33.68.5.44.35.84.73 1.2 1.1.75.8 1.36 1.6 1.84 2.42.47.82.82 1.62 1.06 2.35.25.74.4 1.4.5 1.95z"/></svg>
							<span>80<i>км/ч</i></span>Максимальная скорость
						</p>
						<p>
							<svg xmlns="http://www.w3.org/2000/svg" width="34" height="27"><defs><filter id="a" width="200%" height="200%" x="-50%" y="-50%"><feMorphology operator="dilate" result="SvgjsFeMorphology1036Out" in="SourceGraphic"/><feOffset dx="1" dy="2" result="SvgjsFeOffset1037Out" in="SvgjsFeMorphology1036Out"/><feGaussianBlur result="SvgjsFeGaussianBlur1038Out" in="SvgjsFeOffset1037Out"/><feComposite in="SvgjsFeGaussianBlur1038Out" in2="SourceAlpha" operator="out" result="SvgjsFeComposite1039Out"/></filter><filter id="b" width="200%" height="200%" x="-50%" y="-50%"><feMorphology operator="dilate" result="SvgjsFeMorphology1043Out" in="SourceGraphic"/><feOffset dx="1" dy="2" result="SvgjsFeOffset1044Out" in="SvgjsFeMorphology1043Out"/><feGaussianBlur result="SvgjsFeGaussianBlur1045Out" in="SvgjsFeOffset1044Out"/><feComposite in="SvgjsFeGaussianBlur1045Out" in2="SourceAlpha" operator="out" result="SvgjsFeComposite1046Out"/></filter><filter id="c" width="200%" height="200%" x="-50%" y="-50%"><feMorphology operator="dilate" result="SvgjsFeMorphology1050Out" in="SourceGraphic"/><feOffset dx="1" dy="2" result="SvgjsFeOffset1051Out" in="SvgjsFeMorphology1050Out"/><feGaussianBlur result="SvgjsFeGaussianBlur1052Out" in="SvgjsFeOffset1051Out"/><feComposite in="SvgjsFeGaussianBlur1052Out" in2="SourceAlpha" operator="out" result="SvgjsFeComposite1053Out"/></filter><filter id="d" width="200%" height="200%" x="-50%" y="-50%"><feMorphology operator="dilate" result="SvgjsFeMorphology1057Out" in="SourceGraphic"/><feOffset dx="1" dy="2" result="SvgjsFeOffset1058Out" in="SvgjsFeMorphology1057Out"/><feGaussianBlur result="SvgjsFeGaussianBlur1059Out" in="SvgjsFeOffset1058Out"/><feComposite in="SvgjsFeGaussianBlur1059Out" in2="SourceAlpha" operator="out" result="SvgjsFeComposite1060Out"/></filter><filter id="e" width="200%" height="200%" x="-50%" y="-50%"><feMorphology operator="dilate" result="SvgjsFeMorphology1064Out" in="SourceGraphic"/><feOffset dx="1" dy="2" result="SvgjsFeOffset1065Out" in="SvgjsFeMorphology1064Out"/><feGaussianBlur result="SvgjsFeGaussianBlur1066Out" in="SvgjsFeOffset1065Out"/><feComposite in="SvgjsFeGaussianBlur1066Out" in2="SourceAlpha" operator="out" result="SvgjsFeComposite1067Out"/></filter></defs><path fill-opacity=".08" d="M993.22 683.47V669.3h12.18l2.3-2.3H991v18.76h8l.87-2.3z" filter="url(#a)" transform="translate(-991 -664)"/><path fill="#cecece" d="M2.22 19.47V5.3H14.4L16.7 3H0v18.76h8l.87-2.3z"/><path fill-opacity=".08" d="M1020.23 671.38V667h-8.6l-.78 2.3h7.16v14.17h-13.64l-2.36 2.3h18.23v-4.3c.9 0 2.92.16 2.92-1.52v-6.78c0-2.02-2.15-1.8-2.92-1.8z" filter="url(#b)" transform="translate(-991 -664)"/><path fill="#cecece" d="M29.23 7.38V3h-8.6l-.78 2.3H27v14.17H13.37L11 21.77h18.23v-4.3c.9 0 2.92.16 2.92-1.52V9.17c0-2.02-2.15-1.8-2.92-1.8z"/><path fill-opacity=".08" d="M995 671v10.4h5.48l1.36-3.47h-4.72l6.26-6.93z" filter="url(#c)" transform="translate(-991 -664)"/><path fill="#cecece" d="M4 7v10.4h5.48l1.36-3.47H6.12L12.38 7z"/><path fill-opacity=".08" d="M1013.63 673.2l-7.63 8.2h9.98V671h-6.3l-.8 2.2z" filter="url(#d)" transform="translate(-991 -664)"/><path fill="#cecece" d="M22.63 9.2L15 17.4h9.98V7h-6.3l-.8 2.2z"/><path fill-opacity=".08" d="M1008.23 673.97l3.96-9.97-12.22 12.78 4.16-.06-5.14 11.7 13.4-14.5z" filter="url(#e)" transform="translate(-991 -664)"/><path fill="#cecece" d="M17.23 9.97L21.2 0 8.97 12.78l4.16-.06L8 24.42 21.4 9.9z"/></svg>
							<span>5<i>часов</i></span>Время полной зарядки
						</p>
					</div>
					<div class="bike_view">
						<div class="bike_img">
							
							<div class="price"><span>130 000 руб.</span></div>
							<img src="/components/bitrix/bikeslider/photo-bike-copy-4.png" alt="">
						</div>
						<div class="bike_description">
							<div class="bike_title">
								<p>Электровелосипед</p>	
								<h3>Chesnok COMFORT+</h3>
							</div>
							<p class="right">Продукт для тех, кто ценит легость обычного велосипеда и крутые характеристики</p>
						</div>
					</div>
				</a>
				<a class="bike_slide" href="#">
					<div class="bike_bgtext">SPORT</div>
					<div class="bike_speed">
						<p>
							<svg xmlns="http://www.w3.org/2000/svg" width="35.5" height="27"><defs><filter id="a" width="200%" height="200%" x="-50%" y="-50%"><feMorphology operator="dilate" result="SvgjsFeMorphology1009Out" in="SourceGraphic"/><feOffset dx="1" dy="2" result="SvgjsFeOffset1010Out" in="SvgjsFeMorphology1009Out"/><feGaussianBlur result="SvgjsFeGaussianBlur1011Out" in="SvgjsFeOffset1010Out"/><feComposite in="SvgjsFeGaussianBlur1011Out" in2="SourceAlpha" operator="out" result="SvgjsFeComposite1012Out"/></filter></defs><path fill-opacity=".08" d="M419.7 410.88c-.1-.24-.26-.44-.48-.62-.22-.17-.46-.26-.7-.26h-6.34c.16 0 .3.06.43.18.14.12.2.26.22.42l.28 3.6c0 .17-.04.3-.15.42-.1.12-.25.17-.4.17h-3.1c-.17 0-.3-.06-.42-.18-.1-.1-.16-.25-.15-.43l.28-3.6c0-.16.08-.3.2-.42.13-.12.27-.18.43-.18h-6.34c-.24 0-.48.1-.7.26-.23.18-.4.38-.5.62l-7.77 19.55c-.34.77-.5 1.5-.5 2.17 0 .9.3 1.36.86 1.36 0 0 12.3.16 12.44.15.14 0 .14-.73.14-.74l.37-4.8c.03-.15.1-.3.22-.4.12-.13.27-.2.43-.2h5.08c.16 0 .3.07.43.2.12.1.2.25.2.4l.37 4.8c.02.17 0 .6.22.6h12.37c.57 0 .86-.45.86-1.36 0-.68-.17-1.4-.5-2.17zm-6.04 13.35c-.1.1-.25.15-.4.15h-4.55c-.14 0-.27-.05-.38-.15-.1-.1-.16-.23-.15-.38v-.07l.45-6c0-.15.08-.3.2-.4.13-.13.27-.2.43-.2h3.47c.17 0 .3.07.43.2.13.1.2.25.2.4l.46 6v.07c.02.15-.03.28-.14.38z" filter="url(#a)" transform="translate(-394 -410)"/><path fill="#cecece" d="M25.7.88c-.1-.24-.26-.44-.48-.62C25 .1 24.76 0 24.52 0h-6.34c.16 0 .3.06.43.18.14.12.2.26.22.42l.28 3.6c0 .17-.04.3-.15.42-.1.12-.25.17-.4.17h-3.1c-.17 0-.3-.06-.42-.18-.1-.1-.16-.25-.15-.43l.28-3.6c0-.16.08-.3.2-.42.13-.12.27-.18.43-.18H9.45c-.24 0-.48.1-.7.26-.23.18-.4.38-.5.62L.5 20.43c-.34.77-.5 1.5-.5 2.17 0 .9.3 1.36.86 1.36 0 0 12.3.16 12.44.15.14 0 .14-.73.14-.74l.37-4.8c.03-.15.1-.3.22-.4.12-.13.27-.2.43-.2h5.08c.16 0 .3.07.43.2.12.1.2.25.2.4l.37 4.8c.02.17 0 .6.22.6h12.37c.57 0 .86-.45.86-1.36 0-.68-.17-1.4-.5-2.17zm-6.04 13.35c-.1.1-.25.15-.4.15h-4.55c-.14 0-.27-.05-.38-.15-.1-.1-.16-.23-.15-.38v-.07l.45-6c0-.15.08-.3.2-.4.13-.13.27-.2.43-.2h3.47c.17 0 .3.07.43.2.13.1.2.25.2.4l.46 6v.07c.02.15-.03.28-.14.38z"/></svg>
							<span>85<i>км</i></span>Дальность пробега
						</p>
						<p>
							<svg xmlns="http://www.w3.org/2000/svg" width="30" height="31"><defs><filter id="a" width="200%" height="200%" x="-50%" y="-50%"><feMorphology operator="dilate" result="SvgjsFeMorphology1027Out" in="SourceGraphic"/><feOffset dx="1" dy="2" result="SvgjsFeOffset1028Out" in="SvgjsFeMorphology1027Out"/><feGaussianBlur result="SvgjsFeGaussianBlur1029Out" in="SvgjsFeOffset1028Out"/><feComposite in="SvgjsFeGaussianBlur1029Out" in2="SourceAlpha" operator="out" result="SvgjsFeComposite1030Out"/></filter></defs><path fill-opacity=".08" d="M993 549.5c0 8 6.5 14.5 14.5 14.5s14.5-6.5 14.5-14.5-6.5-14.5-14.5-14.5-14.5 6.5-14.5 14.5zm11.84 2.58c-1.07-1.07-1.07-2.82 0-3.9.66-.63 1.55-.88 2.4-.75l7.17-4.86-4.9 7.16c.14.83-.12 1.72-.77 2.37-1.08 1.07-2.82 1.06-3.9-.02zm15.5-4.33l.06.4c0 .12.03.24.04.36 0 .12.02.23.03.32 0 .1 0 .16.02.23 0 .27.02.4.02.4l-2.95.08v-.4-.22-.2-.26l-.03-.3c-.04-.44-.1-.97-.26-1.56-.15-.6-.37-1.26-.7-1.94-.32-.7-.76-1.4-1.32-2.08-.28-.34-.58-.68-.92-1l-.53-.46c-.08-.08-.17-.15-.27-.22l-.3-.22c-.78-.57-1.68-1.04-2.65-1.38-.5-.18-1-.3-1.5-.4-.27-.05-.53-.1-.8-.13-.12 0-.25-.03-.4-.04H1007.52s-.02 0 0-.02h-.8c-.27 0-.53.03-.8.05-.53.06-1.06.15-1.57.28-1.02.28-2 .68-2.88 1.2l-.32.2-.32.22c-.2.14-.4.28-.6.44-.38.3-.73.64-1.06.97-.66.7-1.2 1.4-1.63 2.13-.4.72-.72 1.43-.94 2.07-.23.65-.36 1.23-.44 1.72l-.06.34c0 .1-.03.2-.04.3l-.05.5c0 .25-.02.4-.02.4v-.4-.5-.3l.04-.37c.04-.5.12-1.1.3-1.77.17-.68.43-1.43.8-2.22.38-.78.9-1.58 1.53-2.36.32-.38.67-.77 1.06-1.13.18-.18.38-.35.6-.53l.3-.25.34-.24c.9-.65 1.94-1.18 3.05-1.56.54-.2 1.12-.34 1.7-.46.3-.04.6-.1.9-.12.32-.04.6-.05.88-.07H1008.4l.9.08c.6.07 1.2.17 1.78.32 1.17.3 2.27.78 3.26 1.37l.37.23.36.24c.23.17.47.33.68.5.44.35.84.73 1.2 1.1.75.8 1.36 1.6 1.84 2.42.47.82.82 1.62 1.06 2.35.25.74.4 1.4.5 1.95z" filter="url(#a)" transform="translate(-993 -535)"/><path fill="#cecece" d="M0 14.5C0 22.5 6.5 29 14.5 29S29 22.5 29 14.5 22.5 0 14.5 0 0 6.5 0 14.5zm11.84 2.58c-1.07-1.07-1.07-2.82 0-3.9.66-.63 1.55-.88 2.4-.75l7.17-4.86-4.9 7.16c.14.83-.12 1.72-.77 2.37-1.08 1.07-2.82 1.06-3.9-.02zm15.5-4.33l.06.4c0 .12.03.24.04.36 0 .12.02.23.03.32 0 .1 0 .16.02.23 0 .27.02.4.02.4l-2.95.08v-.4-.22-.2-.26l-.03-.3c-.04-.44-.1-.97-.26-1.56-.15-.6-.37-1.26-.7-1.94-.32-.7-.76-1.4-1.32-2.08-.28-.34-.58-.68-.92-1l-.53-.46c-.08-.08-.17-.15-.27-.22l-.3-.22c-.78-.57-1.68-1.04-2.65-1.38-.5-.18-1-.3-1.5-.4-.27-.05-.53-.1-.8-.13-.12 0-.25-.03-.4-.04H14.52s-.02 0 0-.02h-.8c-.27 0-.53.03-.8.05-.53.06-1.06.15-1.57.28-1.02.28-2 .68-2.88 1.2l-.32.2-.32.22c-.2.14-.4.28-.6.44-.38.3-.73.64-1.06.97-.66.7-1.2 1.4-1.63 2.13-.4.72-.72 1.43-.94 2.07-.23.65-.36 1.23-.44 1.72l-.06.34c0 .1-.03.2-.04.3l-.05.5c0 .25-.02.4-.02.4v-.4-.5-.3l.04-.37c.04-.5.12-1.1.3-1.77.17-.68.43-1.43.8-2.22.38-.78.9-1.58 1.53-2.36.32-.38.67-.77 1.06-1.13.18-.18.38-.35.6-.53l.3-.25.34-.24c.9-.65 1.94-1.18 3.05-1.56.54-.2 1.12-.34 1.7-.46.3-.04.6-.1.9-.12.32-.04.6-.05.88-.07H15.4l.9.08c.6.07 1.2.17 1.78.32 1.17.3 2.27.78 3.26 1.37l.37.23.36.24c.23.17.47.33.68.5.44.35.84.73 1.2 1.1.75.8 1.36 1.6 1.84 2.42.47.82.82 1.62 1.06 2.35.25.74.4 1.4.5 1.95z"/></svg>
							<span>80<i>км/ч</i></span>Максимальная скорость
						</p>
						<p>
							<svg xmlns="http://www.w3.org/2000/svg" width="34" height="27"><defs><filter id="a" width="200%" height="200%" x="-50%" y="-50%"><feMorphology operator="dilate" result="SvgjsFeMorphology1036Out" in="SourceGraphic"/><feOffset dx="1" dy="2" result="SvgjsFeOffset1037Out" in="SvgjsFeMorphology1036Out"/><feGaussianBlur result="SvgjsFeGaussianBlur1038Out" in="SvgjsFeOffset1037Out"/><feComposite in="SvgjsFeGaussianBlur1038Out" in2="SourceAlpha" operator="out" result="SvgjsFeComposite1039Out"/></filter><filter id="b" width="200%" height="200%" x="-50%" y="-50%"><feMorphology operator="dilate" result="SvgjsFeMorphology1043Out" in="SourceGraphic"/><feOffset dx="1" dy="2" result="SvgjsFeOffset1044Out" in="SvgjsFeMorphology1043Out"/><feGaussianBlur result="SvgjsFeGaussianBlur1045Out" in="SvgjsFeOffset1044Out"/><feComposite in="SvgjsFeGaussianBlur1045Out" in2="SourceAlpha" operator="out" result="SvgjsFeComposite1046Out"/></filter><filter id="c" width="200%" height="200%" x="-50%" y="-50%"><feMorphology operator="dilate" result="SvgjsFeMorphology1050Out" in="SourceGraphic"/><feOffset dx="1" dy="2" result="SvgjsFeOffset1051Out" in="SvgjsFeMorphology1050Out"/><feGaussianBlur result="SvgjsFeGaussianBlur1052Out" in="SvgjsFeOffset1051Out"/><feComposite in="SvgjsFeGaussianBlur1052Out" in2="SourceAlpha" operator="out" result="SvgjsFeComposite1053Out"/></filter><filter id="d" width="200%" height="200%" x="-50%" y="-50%"><feMorphology operator="dilate" result="SvgjsFeMorphology1057Out" in="SourceGraphic"/><feOffset dx="1" dy="2" result="SvgjsFeOffset1058Out" in="SvgjsFeMorphology1057Out"/><feGaussianBlur result="SvgjsFeGaussianBlur1059Out" in="SvgjsFeOffset1058Out"/><feComposite in="SvgjsFeGaussianBlur1059Out" in2="SourceAlpha" operator="out" result="SvgjsFeComposite1060Out"/></filter><filter id="e" width="200%" height="200%" x="-50%" y="-50%"><feMorphology operator="dilate" result="SvgjsFeMorphology1064Out" in="SourceGraphic"/><feOffset dx="1" dy="2" result="SvgjsFeOffset1065Out" in="SvgjsFeMorphology1064Out"/><feGaussianBlur result="SvgjsFeGaussianBlur1066Out" in="SvgjsFeOffset1065Out"/><feComposite in="SvgjsFeGaussianBlur1066Out" in2="SourceAlpha" operator="out" result="SvgjsFeComposite1067Out"/></filter></defs><path fill-opacity=".08" d="M993.22 683.47V669.3h12.18l2.3-2.3H991v18.76h8l.87-2.3z" filter="url(#a)" transform="translate(-991 -664)"/><path fill="#cecece" d="M2.22 19.47V5.3H14.4L16.7 3H0v18.76h8l.87-2.3z"/><path fill-opacity=".08" d="M1020.23 671.38V667h-8.6l-.78 2.3h7.16v14.17h-13.64l-2.36 2.3h18.23v-4.3c.9 0 2.92.16 2.92-1.52v-6.78c0-2.02-2.15-1.8-2.92-1.8z" filter="url(#b)" transform="translate(-991 -664)"/><path fill="#cecece" d="M29.23 7.38V3h-8.6l-.78 2.3H27v14.17H13.37L11 21.77h18.23v-4.3c.9 0 2.92.16 2.92-1.52V9.17c0-2.02-2.15-1.8-2.92-1.8z"/><path fill-opacity=".08" d="M995 671v10.4h5.48l1.36-3.47h-4.72l6.26-6.93z" filter="url(#c)" transform="translate(-991 -664)"/><path fill="#cecece" d="M4 7v10.4h5.48l1.36-3.47H6.12L12.38 7z"/><path fill-opacity=".08" d="M1013.63 673.2l-7.63 8.2h9.98V671h-6.3l-.8 2.2z" filter="url(#d)" transform="translate(-991 -664)"/><path fill="#cecece" d="M22.63 9.2L15 17.4h9.98V7h-6.3l-.8 2.2z"/><path fill-opacity=".08" d="M1008.23 673.97l3.96-9.97-12.22 12.78 4.16-.06-5.14 11.7 13.4-14.5z" filter="url(#e)" transform="translate(-991 -664)"/><path fill="#cecece" d="M17.23 9.97L21.2 0 8.97 12.78l4.16-.06L8 24.42 21.4 9.9z"/></svg>
							<span>5<i>часов</i></span>Время полной зарядки
						</p>
					</div>
					<div class="bike_view">
						<div class="bike_img">
							
							<div class="price"><span>130 000 руб.</span></div>
							<img src="/components/bitrix/bikeslider/photo-bike-copy-3.png" alt="">
						</div>
						<div class="bike_description">
							<div class="bike_title">
								<p>Электровелосипед</p>	
								<h3>Chesnok SPORT</h3>
							</div>
							<p>Продукт для тех, кто ценит легость обычного велосипеда и крутые характеристики</p>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>