<header>
  <div class="topline">
    <div class="mobile_menu_toggle">
      <div class="toggle_svg_skew">
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="16"><path fill="#8e8e8e" d="M.3 14L0 16h25l.3-2zM1.3 7L1 9h25l.3-2zM2.3 0L2 2h25l.3-2z"/></svg><svg class="cross" xmlns="http://www.w3.org/2000/svg" width="21" height="20"><path fill="#8e8e8e" d="M1.2 18.03l1.2 1.62L20.1 1.97 18.87.35z"/><path fill="#8e8e8e" d="M2.62.56L1 1.76l17.67 17.68 1.62-1.2z"/></svg>
      </div>
    </div>
    <div class="logo_s">
      <a href="#" class="logo"><img src="img/svg/logo.svg" alt="Chesnok"></a>
      <a href="#" class="logo logomob"><img src="/components/bitrix/header/logo_mob_active.svg" alt="Chesnok"></a>
      <p>Всё об электровелосипедах</p>
    </div>

    <div class="links">
      <a href="#">Доставка и оплата</a>
      <p><a href="#">Контакты</a></p>
    </div>
    <div><a href="#">Акции</a></div>
    <div class="time">
      9:00 - 24:00
      <p>С понедельника<br>по пятницу</p>
    </div>
    <div class="phone">Звонок по России (бесплатный)
      <p><a href="tel:+78005550482"><span>8 (800) </span>555-04-82</a></p>
    </div>
    <div class="phone phone2">Звонок по CПб (бесплатный)
      <p><a href="tel:+78129486424"><span>8 (812) </span>948-64-24</a></p>
    </div> 
    <div class="bucket_wrap">
      <a href="#" class="bucket_btn">
        <div class="bucket_btn_skew">
          <svg class="bucket_svg" xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19"><title>Shape</title><defs><linearGradient id="a" gradientUnits="userSpaceOnUse" x1="1382" y1="63" x2="1382" y2="80"><stop stop-color="#61ccf5" offset="0"/><stop stop-color="#1fa1db" offset="1"/></linearGradient></defs><path d="M1389.99 67.7l-.76 4.33c-.02.22-.13.41-.3.55-.18.15-.38.22-.61.22h-11l-.22 1.23h10.49c.25 0 .47.09.65.27.19.18.28.4.28.66 0 .27-.09.49-.28.67-.18.18-.4.27-.65.27h-11.6c-.28 0-.52-.12-.72-.34-.18-.23-.25-.48-.21-.77l.49-2.71-.75-7.58-2.15-.68c-.25-.08-.43-.23-.54-.45-.12-.23-.14-.47-.07-.72.08-.25.23-.43.46-.54.24-.12.47-.14.71-.07l2.74.87c.17.05.31.15.43.3.11.14.18.31.2.49l.16 1.51 12.43 1.39c.28.04.49.17.64.38.16.2.22.44.18.72zm-11.58 9.13c.28.28.42.62.42 1.01 0 .4-.14.74-.42 1.03-.28.28-.61.42-1.01.42s-.74-.14-1.01-.42c-.28-.29-.42-.63-.42-1.03 0-.39.14-.73.42-1.01.27-.28.61-.42 1.01-.42s.73.14 1.01.42zm7.47-.42c-.4 0-.74.14-1.02.42-.27.28-.41.62-.41 1.01 0 .4.14.74.41 1.03.28.28.62.42 1.02.42.39 0 .73-.14 1.01-.42.28-.29.42-.63.42-1.03 0-.39-.14-.73-.42-1.01-.28-.28-.62-.42-1.01-.42z" fill="url(#a)" transform="translate(-1371 -61)"/></svg>
          <p>В корзине</p>
          <p><span class="bucket_count">5</span><span class="bucket_count_words"> товаров</span></p> <!-- На случай необходимости менять окончание слова -->
        </div>
      </a>
      <!-- Превью корзины-->
      <div class="bucket_preview hidden visuallyhidden">
        <h1>Товары в корзине:</h1>
        <!-- Товар N1 -->
        <div class="bucket_products">
          <div class="product_preview">
            <div class="product_image">
              <img src="img/product1.png" alt="">
              <div class="product_counter">
                <a href="#">-</a>
                <span class="skew_border"><span class="product_count">1</span></span>
                <a href="#">+</a>
              </div>
            </div>
            <div class="product_desc">
              <p>Кит-набор «Для профи»</p>
              <div class="price_wrap">
                <span class="sale"><span>59300</span> руб.</span>
                <p class="price"><span>49 100</span> руб.</p>
              </div>
            </div>
            <div class="product_del"><a href="#">Удалить</a></div>
          </div>
          <!-- Товар N1 end-->
          <!-- Товар N2 -->
          <div class="product_preview">
            <div class="product_image">
              <img src="img/product2.png" alt="">
              <div class="product_counter">
                <a href="#">-</a>
                <span class="skew_border"><span class="product_count">3</span></span>
                <a href="#">+</a>
              </div>
            </div>
            <div class="product_desc">
              <p>Аккумуляторная батарея LiNMC 77В 16А вторая строчка заголовка</p>
              <div class="price_wrap">
                <p class="price"><span>22 700</span> руб.</p>
              </div>
            </div>
            <div class="product_del"><a href="#">Удалить</a></div>    
          </div>
          <!-- Товар N2 end-->
                    <!-- Товар N2 -->
          <div class="product_preview">
            <div class="product_image">
              <img src="img/product2.png" alt="">
              <div class="product_counter">
                <a href="#">-</a>
                <span class="skew_border"><span class="product_count">3</span></span>
                <a href="#">+</a>
              </div>
            </div>
            <div class="product_desc">
              <p>Аккумуляторная батарея LiNMC 77В 16А вторая строчка заголовка</p>
              <div class="price_wrap">
                <p class="price"><span>22 700</span> руб.</p>
              </div>
            </div>
            <div class="product_del"><a href="#">Удалить</a></div>    
          </div>
        </div>
        <!-- Нижний блок кнопки -->
        <div class="go_to_bucket">
          <p>3 товара на сумму:<span><b class="final_price">87 790</b> руб.</span></p>
          <a href="#" class="green_button"><div class="reverse_skew">Перейти в корзину</div></a>
        </div>
      </div>
    </div>
    <div class="mobile_bucket_toggle">
      <div class="toggle_svg_skew">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path fill="#8e8e8e" d="M23.98 8.28l-.96 5.53c-.03.3-.16.53-.4.72-.22.2-.48.28-.77.28H7.8l-.28 1.57h13.4c.32 0 .6.12.83.35.24.22.36.5.36.85 0 .33-.1.62-.35.85-.24.22-.5.34-.84.34H6.1c-.36 0-.66-.15-.92-.43-.23-.3-.33-.62-.28-1l.64-3.44-.97-9.7-2.74-.87c-.32-.1-.55-.3-.7-.58-.14-.3-.17-.6-.08-.92.1-.32.3-.55.6-.7.3-.14.6-.17.9-.08l3.5 1.1c.22.08.4.2.54.4.13.18.22.4.26.63l.2 1.93L22.94 6.9c.36.05.63.2.82.48.2.26.28.56.22.92zM9.18 19.95c.37.36.54.8.54 1.3s-.17.94-.53 1.3c-.36.36-.8.55-1.3.55s-.94-.2-1.3-.55c-.35-.36-.53-.8-.53-1.3s.18-.94.53-1.3c.36-.35.8-.53 1.3-.53s.94.18 1.3.53zm9.55-.53c-.5 0-.94.18-1.3.53-.35.36-.52.8-.52 1.3s.18.94.54 1.3c.35.36.78.55 1.3.55.5 0 .93-.2 1.3-.55.34-.36.52-.8.52-1.3s-.18-.94-.53-1.3c-.36-.35-.8-.53-1.3-.53z"/></svg>
        <span class="mobile_bucket_counter">14</span>
      </div>
    </div>
  </div>
  <nav class="topnav">
    <!-- Чтобы сделать пункт неактивным нужно добавить .fade к li и рядом со ссылкой добавить div.soon{скоро} -->
    <ul>
      <li><a href="#"><img src="/components/bitrix/header/menu1.png" alt="Электровелосипеды"><span>Электровелосипеды</span></a></li>
      <li><a href="#"><img src="/components/bitrix/header/menu2.png" alt="Кит-наборы"><span>Кит-наборы</span></a></li>
      <li><a href="#"><img src="/components/bitrix/header/menu3.png" alt="Комплектующие"><span>Комплектующие</span></a></li>
      <li class="fade"><a href="#"><img src="img/menu4.png" alt="Конфигуратор"><span>Конфигуратор</span></a><div class="soon">Скоро</div></li>
      <li><a href="#"><img src="/components/bitrix/header/menu4.png" alt="Услуги"><span>Услуги</span></a></li>
    </ul>
    <div class="topnav_mobile_active">
      <div class="mob_contacts"></div>
      <div class="phone">Звонок по России (бесплатный)
        <p><a href="tel:+78005550482"><span>8 (800) </span>555-04-82</a></p>
      </div>
      <div class="phone phone2">Звонок по CПб (бесплатный)
        <p><a href="tel:+78129486424"><span>8 (812) </span>948-64-24</a></p>
      </div>
      <div class="links">
        <ul>
          <li><a href="#">Доставка и оплата</a></li>
          <li><a href="#">Контакты</a></li>
          <li><a href="#">Акции</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<script src="components/bitrix/header/header.js"></script>

