@import "bourbon"
.complects_block
	text-align: center
.complects_items
	display: flex
	flex-flow: row wrap
	justify-content: space-between
	max-width: 1200px
	a 
		display: flex
		flex-flow: column-reverse wrap
		align-content: center
		justify-content: center
		height: 290px
		background-image: linear-gradient(180deg, #fafafa 0%, #f7f7f7 40%, #f3f3f3 100%)
		margin-bottom: 10px
		flex-basis: 29.1%
		transition: 0.1s
		text-decoration: none
		align-items: center
		&:hover, &:active, &:focus
			outline: 3px solid #66bcf8
			border: none
			box-shadow: 2px 7px 9px rgba(191,191,191,0.5)
	a:nth-child(2)
		flex-grow: 1.35
		margin: 0 10px 10px 10px
	a:nth-child(5), a:nth-child(6)
		flex-basis: 19.5%
	a:nth-child(4),a:nth-child(5),a:nth-child(6),a:nth-child(7)
		height: 150px
	h3
		font-size: 25px
		line-height: 50px
	.svg_align
		height: 69px
		display: flex
.complects_items + a 
	line-height: 32px
	color: #8e8e8e
	text-decoration: none
	padding-bottom: 2px
	border-bottom: 1px solid rgba(151,151,151,0.3)
	&:hover
		color: #25aee2
		border-bottom-color: #25aee2
			





@media only screen and (max-width : 375px)
	/**/
	.complects_block
		padding: 0 17.5px
	.complects_items
		a 
			height: 120px 
			flex-basis: 47%
			margin: 2.5px
			flex-grow: 1
		a:nth-child(1)
			margin: 2.5px
			flex-basis: 100%
		a:nth-child(2)
			margin: 2.5px
			flex-grow: 1
			flex-basis: 47%
			calc(50% -2.5px)
		a:nth-child(5), a:nth-child(6)
			flex-basis: 47%
		a:nth-child(4),a:nth-child(5),a:nth-child(6),a:nth-child(7)
			height: 120px
		h3
			font-size: 14px
			line-height: 25px
	.complects_items + a 
		line-height: 32px
		color: #8e8e8e

				

