<div class="complects_block">
	<div class="sectiontitle">
		<h1>Комплектующие</h1>
		<p>Краткий текст про ахуительные комплектующие. Вообщем какая-то реклама</p>
	</div>
	<div class="complects_items">
		<a href="#">
			<h3>Мотор-колеса</h3>
			<div class="svg_align">
				<img src="components/bitrix/complects/image_item1.svg" alt="">
			</div>
		</a>
		<a href="#">
			<h3>Кит-наборы</h3>
			<div class="svg_align">
				<img src="components/bitrix/complects/image_item2.svg" alt="">
			</div>
		</a>
		<a href="#">
			<h3>Акк. батареи</h3>
			<div class="svg_align">
				<img src="components/bitrix/complects/image_item3.svg" alt="">
			</div>
		</a>
		<a href="#">
			<h3>Контроллеры</h3>
			<div class="svg_align">
				<img src="components/bitrix/complects/image_item4.svg" alt="">
			</div>
		</a>
		<a href="#">
			<h3>Вилки</h3>
			<div class="svg_align">
				<img src="components/bitrix/complects/image_item5.svg" alt="">
			</div>
		</a>
		<a href="#">
			<h3>Рамы</h3>
			<div class="svg_align">
				<img src="components/bitrix/complects/image_item6.svg" alt="">
			</div>
		</a>
		<a href="#">
			<h3>Аммортизаторы</h3>
			<div class="svg_align">
				<img src="components/bitrix/complects/image_item7.svg" alt="">
			</div>
		</a>
	</div>
	<a href="#">Остальные комплектующие и аксессуары →</a>
</div>