@import "bourbon"


.footer_nav
	padding-top: 35px
	display: flex
	justify-content: space-between
	flex-flow: row wrap	


.footer_nav_point
	max-width: 221px
	h2
		color: white
	p, a 
		color: white
		text-decoration: none
	ul
		list-style-type: none
		padding: 0
		margin-bottom: 0
		a 
			display: inline-block
			color: white
			text-decoration: none
			border-bottom: 1px solid #656566
			transition: 0.2s
			padding-bottom: 2px
			margin-bottom: 15px
			&:hover
				border-bottom-color: white
	.footer_tele
		font-size: 34px
		margin-bottom: 15px
		display: block
		span 
			font-size: 16px
	.footer_mailto
		display: block
		margin: 15px 0
		width: 100%
	.footer_mailto + p 
		img:first-child
			margin-right: 10px

.footer_nav_point:nth-child(5)
	max-width: 100%
.footer_nav_point:nth-child(1), .footer_nav_point:nth-child(2)
	padding-right: 16px
	border-right: 2px solid rgba(0,0,0,.2)




.instagram_wrap
	max-width: 210px

.instagram_vidjet, .vk_vidjet
	display: block
	height: 156px
	background-color: white
	border: 1px solid #e1e7eb
	border-radius: 3px

.instagram_vidjet
	padding: 15px 15px 12px 15px
	svg
		float: left
	h3
		display: inline-block
		color: #363636
		font-size: 12px
		font-weight: 700
		line-height: 35px
		margin-left: 10px
	.instagram_vidjet_photos
		display: flex
		flex-flow: row wrap	
		justify-content: space-between
		padding-top: 20px
		border-top: 1px solid #e7e8ec
		margin-top: 14px

.vk_vidjet
	max-width: 298px
	width: 298px
	height: 183px



.credits.footer_nav_point
	max-width: 434px
	margin: 26px 0 -10px 0
	opacity: 0.6
	svg
		float: left
	a:nth-child(2)
		display: inline-block
		max-width: 100px
		font-size: 12px
		line-height: 14px
		margin-left: 11px
	p
		float: right
		margin-left: 34px
		line-height: 35px
		color: #fff



.mobile_footer_sociallinks
	display: none

@media only screen and (max-width : 1000px)
	/**/
	.footer_nav_point:nth-child(3)
		max-width: 100%
		margin-top: 26px
		order: 1
		.footer_adress, .footer_mailto
			display: none
		.footer_tele
			margin: 0 21px 0 0
		.footer_mailto + p, .footer_tele 
			display: inline-block

@media only screen and (max-width : 375px)
	/**/
	.instagram_wrap, .vk_wrap
		display: none
	.footer_nav
		padding: 30px 0 69px 0
	.footer_nav_point
		ul
			li
				a 
					padding-bottom: 0
	.footer_nav_point:nth-child(1), .footer_nav_point:nth-child(2)
		max-width: 49%
		padding: 0
	.footer_nav_point:nth-child(2)
		padding-left: 16px
		border: none
		margin-right: 20px
	.footer_nav_point:nth-child(1)
		padding-right: 30px
		margin-left: 20px
	.credits.footer_nav_point
		padding-left: 20px
		order: 2
		p 
			max-width: 90px
			font-size: 12px
			margin: 0
			line-height: 14px
		a 
			opacity: 0.6
	.footer_nav_point:nth-child(3)
		background-color: rgba(53, 53, 53, 0.26)
		width: 100%
		height: 61px
		text-align: right
		margin-top: 13px
		a 
			vertical-align: middle
			line-height: 61px
		.footer_mailto + p.footer_cards
			display: none
		.mobile_footer_sociallinks
			display: block
			float: right
			margin: 15px 20px 0 0
			a 
				display: inline-block
				width: 30px
				height: 30px
			.vk_mob
				margin-right: 11px
				background-image: url("/components/bitrix/footer/vk.svg")
				&:hover, &:focus, &:active
					background-image: url("/components/bitrix/footer/hover.svg")
			.insta_mob
				background-image: url("/components/bitrix/footer/instadefault.svg")
				&:hover, &:focus, &:active
					background-image: url("/components/bitrix/footer/insta_hover.svg")

		


