<footer>
	<div class="container_wrap">			
		<div class="container">
			<div class="footer_block">
				<div class="footer_block_point">
					<h2>Категории</h2>
					<nav>
						<ul class="footer_nav">
							<li><a href="/electrovelo.html">Электровелосипеды</a></li>
							<li><a href="/kits.html">Кит-наборы</a></li>
							<li><a href="/complects.html">Комплектующие</a></li>
							<li><a href="/servicepage.html">Услуги</a></li>
						</ul>
					</nav>

				</div>
				<div class="footer_block_point">
					<h2>Информация</h2>
					<ul>
						<li><a href="/shipandpay.html">Доставка и оплата</a></li>
						<li><a href="/salepage.html">Акции</a></li>
						<li><a href="/contacts.html">Контакты</a></li>
					</ul>
				</div>
				<div class="footer_block_point">
					<p class="footer_tele"><a href="tel:+78129486424"><span>8 (812) </span>948-64-24</a></p>
					<p class="footer_adress">г.Санкт-Петербург ул.Дворцовая, Д.1, кор. 4, 5 этаж, офис 367</p>
					<p class="footer_mailto"><a href="mailto:sales@chesnok-velo.ru">sales@chesnok-velo.ru</a></p>
					<div class="footer_cards">
						<img src="components/bitrix/footer/visa.svg" alt="">
						<img src="components/bitrix/footer/master_2.svg" alt="">
					</div>
					<p class="mobile_footer_sociallinks">
						<a class="vk_mob" href="http://www.vk.com"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="11"><path fill="#585858" fill-rule="evenodd" d="M8.92 10.58h1.06s.32-.04.48-.2c.15-.17.14-.48.14-.48s-.02-1.43.64-1.64c.65-.2 1.5 1.37 2.37 1.98.68.46 1.2.34 1.2.34h2.36s1.23-.1.65-1.07c-.04-.07-.33-.7-1.75-2.02-1.5-1.38-1.3-1.15.5-3.54 1.1-1.45 1.52-2.33 1.4-2.7-.14-.37-.94-.3-.94-.3h-2.66S14.14.9 14 1c-.14.08-.23.3-.23.3s-.43 1.15-1 2.1c-1.17 2.02-1.65 2.12-1.84 2-.45-.3-.34-1.17-.34-1.8 0-1.95.3-2.76-.6-2.97C9.73.56 9.5.5 8.78.5 7.82.5 7 .5 6.57.73c-.3.15-.55.48-.4.5.17.02.57.1.78.4.27.36.26 1.2.26 1.2s.17 2.3-.35 2.58c-.36.2-.86-.2-1.9-2.02-.55-.94-.96-2-.96-2s-.1-.2-.23-.3c-.17-.1-.4-.15-.4-.15H.82S.45.93.3 1.1c-.12.15 0 .45 0 .45s1.98 4.67 4.22 7c2.06 2.15 4.4 2.03 4.4 2.03z"/></svg></a>
						<a class="insta_mob" href="http://www.instagram.com"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15"><path fill="#585858" fill-rule="evenodd" d="M14.442 12.532c0 .936-.82 1.56-1.754 1.56H1.778c-.934 0-1.752-.624-1.752-1.56V1.622C.026.69.844.066 1.78.066h10.908c.935 0 1.754.623 1.754 1.558v10.91zm-1.948-9.038c0 .233-.195.467-.43.467h-1.44c-.234 0-.468-.194-.468-.466V2.052c0-.234.195-.468.467-.468h1.442c.234 0 .43.195.43.468v1.442zM11.247 5.91h1.636v6.506c0 .233-.04.506-.312.506H1.858c-.234 0-.273-.234-.273-.506V5.91H3.22c-.233 0-.31.856-.31 1.285 0 2.376 1.947 4.286 4.363 4.286 2.415 0 4.363-1.87 4.363-4.285-.04-.39-.117-1.286-.39-1.286zm-6.74 1.168c0-1.52 1.246-2.727 2.727-2.727C8.754 4.35 10 5.56 10 7.08c0 1.52-1.247 2.727-2.766 2.727-1.52.04-2.728-1.208-2.728-2.727z" opacity="1"/></svg></a>
					</p>
				</div>
				<div class="footer_block_point instagram_wrap">
					<div class="instagram_vidjet">
						<a href="http://www.instagram.com">
							<svg xmlns="http://www.w3.org/2000/svg" width="35" height="35"><path fill="#2a5b83" d="M15 17.18C15 15.4 16.45 14 18.18 14c1.77 0 3.23 1.4 3.23 3.18 0 1.77-1.45 3.18-3.22 3.18-1.77.05-3.18-1.4-3.18-3.18zM23.73 13.23c0 .27-.23.54-.5.54h-1.68c-.28 0-.55-.22-.55-.54v-1.68c0-.28.23-.55.55-.55h1.68c.27 0 .5.23.5.55z"/><path fill="#2a5b83" d="M22.27 16h1.9v7.6c0 .26-.03.58-.35.58h-12.5c-.27 0-.32-.27-.32-.6V16h1.9c-.26 0-.35 1-.35 1.5 0 2.77 2.27 5 5.1 5 2.8 0 5.08-2.18 5.08-5-.05-.45-.14-1.5-.46-1.5z"/><path fill="#2a5b83" d="M0 17.5C0 27.17 7.83 35 17.5 35S35 27.17 35 17.5 27.17 0 17.5 0 0 7.83 0 17.5zm24.4 8.24H11.5c-1.1 0-2.06-.73-2.06-1.84V11c0-1.1.97-1.84 2.07-1.84h12.9c1.1 0 2.08.74 2.08 1.85v12.9c0 1.1-.97 1.84-2.07 1.84z"/></svg>
						</a>
						<h3>Мы в инстаграмм</h3>
						<div class="instagram_vidjet_photos">
							<a href="http://www.instagram.com"><img src="components/bitrix/footer/insta_photo.jpg" alt=""></a>
							<a href="http://www.instagram.com"><img src="components/bitrix/footer/insta_photo.jpg" alt=""></a>
							<a href="http://www.instagram.com"><img src="components/bitrix/footer/insta_photo.jpg" alt=""></a>
							<a href="http://www.instagram.com"><img src="components/bitrix/footer/insta_photo.jpg" alt=""></a>
							<a href="http://www.instagram.com"><img src="components/bitrix/footer/insta_photo.jpg" alt=""></a>
							<a href="http://www.instagram.com"><img src="components/bitrix/footer/insta_photo.jpg" alt=""></a>
							<a href="http://www.instagram.com"><img src="components/bitrix/footer/insta_photo.jpg" alt=""></a>
							<a href="http://www.instagram.com"><img src="components/bitrix/footer/insta_photo.jpg" alt=""></a>
						</div>				
					</div>
				</div>
				<div class="footer_block_point vk_wrap">
					<div class="vk_vidjet">
						<!-- ? -->
					</div>
				</div>
				<div class="footer_block_point credits">
					<a href="https://makeit-da.ru/"><svg xmlns="http://www.w3.org/2000/svg" width="136" height="27"><path fill="#fff" d="M26.16.9l2.17 20.15c.1.85.26 1.6.5 2.22.22.63.65 1.05 1.26 1.26.33.1.7.18 1.07.22.38.04.72.06 1.03.06.17 0 .25.07.25.2 0 .18-.22.27-.68.27l-2.42-.06c-1.4-.03-2.4-.07-3-.12-.6-.05-.9-.16-.9-.33 0-.1.07-.2.2-.22.1-.02.16-.42.16-1.2L24.25 6.38h-.1l-7.96 17.05c-.35.76-.58 1.25-.7 1.45-.1.2-.24.3-.36.3s-.22-.06-.3-.2c-.1-.15-.34-.57-.72-1.28l-1.1-2.2-.98-1.98c-.23-.46-.56-1.12-.98-2-.42-.86-.67-1.35-.73-1.45L8.93 13.1 7.06 9.05 6 6.73H5.9l-1.3 15.23c-.02.35-.03.9-.03 1.7 0 .22.08.43.25.63.16.2.36.3.6.36.46.1.87.15 1.23.15.18 0 .27.07.27.2 0 .18-.2.27-.6.27l-1-.03c-.37 0-.7-.02-1-.03h-.6c-.13-.02-.27-.02-.42-.02h-.4l-.6.03-.88.05c-.33.02-.6.02-.84.02-.38 0-.56-.1-.56-.28 0-.13.1-.2.33-.2.33 0 .65-.02.97-.08.48-.08.8-.34.94-.76.14-.43.27-1.08.36-1.97L4.95.6C5 .22 5.13 0 5.3 0c.2 0 .35.16.5.5l9.94 20.65L25.28.52c.15-.35.3-.52.48-.52.2 0 .33.3.4.9z"/><path fill="#fff" d="M43.33 1.3c.3-.87.55-1.3.73-1.3.1 0 .2.1.32.28.1.18.24.5.4.93l1.6 4.26c.82 2.1 1.5 3.86 2 5.25l2 5.2 1.97 5.1c.52 1.28 1 2.18 1.44 2.68.44.5.9.82 1.34.94.4.13.83.2 1.3.2.2 0 .32.06.32.2 0 .17-.22.25-.65.25-1.9 0-3.6-.02-5.1-.06-.3 0-.56-.03-.72-.05-.17-.02-.25-.07-.25-.16 0-.14.08-.22.24-.25.17-.04.25-.2.25-.47 0-.16-.02-.3-.06-.4l-3.02-8.1c-.07-.12-.17-.18-.3-.18h-6.98c-.16 0-.27.08-.34.25l-1.95 5.82c-.3.84-.44 1.57-.44 2.2 0 .3.13.53.4.7.25.16.53.24.84.24h.3c.24 0 .35.08.35.22 0 .17-.17.26-.5.26-.2 0-.44 0-.73-.03-.3 0-.57-.03-.82-.04h-.55c-.13-.02-.28-.02-.44-.02h-.5l-.72.03-1.2.05-1.26.03c-.4 0-.62-.1-.62-.26 0-.14.1-.2.3-.2.26 0 .58-.03.94-.07.7-.08 1.23-.4 1.64-.92.4-.53.77-1.25 1.1-2.16zm3.38 13.12c.1 0 .15-.07.15-.22l-3.1-8.87c-.04-.24-.12-.36-.2-.36-.1 0-.2.12-.28.36L40.4 14.2c0 .15.04.22.1.22zM61.84 16.3v-5.76-5.22c0-.77-.04-1.4-.08-1.88-.03-.6-.14-1.02-.33-1.3-.2-.26-.55-.45-1.07-.55-.25-.08-.6-.1-1.1-.1-.17 0-.26-.07-.26-.2 0-.2.18-.3.52-.3s.84 0 1.5.03l1.56.06h1.05c.32-.03.8-.05 1.4-.07L66.26 1c.35 0 .53.1.53.3 0 .13-.1.2-.28.2-.14 0-.4.03-.82.1-.4.06-.7.24-.86.5-.17.3-.28.73-.34 1.34-.03.54-.05 1.18-.05 1.92v7.14h.13c.26-.28.64-.7 1.16-1.23l2.13-2.18 2.58-2.68c.83-.85 1.4-1.46 1.73-1.83.58-.64 1.02-1.13 1.3-1.5.3-.35.45-.65.45-.9 0-.34-.14-.57-.42-.68-.2-.08-.3-.17-.3-.25 0-.18.15-.27.4-.27.15 0 .3 0 .5.02l.97.05c.48.03.8.04.98.04h.43c.33-.03.82-.05 1.47-.07l1.2-.03c.34 0 .5.1.5.27 0 .15-.1.22-.33.22-.54 0-1.14.15-1.8.45-.28.12-.6.3-.94.52-.34.23-.6.42-.78.58l-.85.8c-.4.37-.7.68-.96.93l-1.43 1.4c-.92.92-1.73 1.7-2.4 2.4l-2.02 2.02c-.66.68-1.1 1.13-1.3 1.36l1.6 1.7 3.17 3.3c1.05 1.1 1.84 1.9 2.37 2.44.52.55 1.12 1.15 1.78 1.8 1.02.96 1.76 1.63 2.22 2.04.46.42.88.75 1.27 1 .4.27.84.5 1.35.72.68.27 1.35.4 2 .4.3 0 .44.08.44.22 0 .17-.24.25-.7.25h-1.68c-1 0-1.76-.02-2.23-.06-.76-.07-1.4-.26-1.9-.54-.5-.3-1.18-.78-2.04-1.48-.45-.37-1.4-1.32-2.86-2.86-1.45-1.55-2.84-3.07-4.2-4.56-1.34-1.5-2.28-2.57-2.82-3.25h-.18v6.1c0 .97.03 1.83.06 2.6.04.75.07 1.3.12 1.64.05.55.16.97.32 1.26.17.3.47.48.93.54.6.1 1.03.13 1.27.13.18 0 .27.07.27.2 0 .18-.17.26-.52.26h-.9c-.2-.02-1.15-.05-2.85-.1-.15 0-.3 0-.44.02l-.7.02c-.3 0-.66.02-1.04.04l-.94.03c-.35 0-.53-.08-.53-.25 0-.14.08-.2.25-.2.25 0 .58-.05.98-.14.3-.05.5-.22.63-.5s.23-.7.3-1.3c.07-.5.1-1.3.14-2.42.03-1.13.04-2.7.04-4.7zM85.84 16.57V10.8 5.56c0-.77-.04-1.4-.08-1.87-.03-.6-.14-1.03-.33-1.3-.2-.27-.55-.45-1.07-.56-.25-.06-.6-.1-1.1-.1-.17 0-.26-.06-.26-.18 0-.2.17-.3.52-.3.34 0 .85 0 1.52.03.67 0 1.2.03 1.62.04l.54.03c4.46 0 6.93 0 7.44-.04.56-.03 1.03-.1 1.4-.17.03 0 .1-.04.2-.1L96.5 1c.1 0 .13.1.13.3 0 .1-.03.3-.1.6-.06.3-.1.63-.14.96-.03.28-.05.68-.08 1.2l-.08.97c-.06.24-.13.37-.23.37-.18 0-.26-.15-.26-.43 0-.5-.06-.9-.18-1.2-.13-.3-.34-.55-.64-.72-.3-.17-.86-.3-1.68-.38-.18-.04-.77-.06-1.78-.08-1-.03-1.9-.04-2.66-.04-.13 0-.2.1-.2.33v9.05c0 .22.07.33.2.33 2.94 0 4.65-.02 5.15-.06.8-.07 1.32-.22 1.55-.46l.3-.34c.07-.06.12-.1.18-.1.1 0 .17.1.17.28-.14.74-.23 1.34-.27 1.8-.08.88-.12 1.58-.12 2.14 0 .4-.07.6-.22.6-.16 0-.23-.1-.23-.3 0-.42-.05-.78-.13-1.07-.18-.67-.74-1.06-1.68-1.16-1.1-.1-2.64-.16-4.65-.16-.16 0-.23.08-.23.24v8.5c.03.8.14 1.38.32 1.75.18.37.52.62 1.02.75s1.3.2 2.4.2c.67 0 1.28-.03 1.8-.07.55-.04 1-.13 1.33-.27.42-.2.75-.5.97-.86.22-.37.38-.87.5-1.52.04-.32.14-.48.28-.48.13 0 .2.16.2.48 0 .2-.05.7-.15 1.46-.1.78-.2 1.36-.28 1.74-.07.27-.16.47-.27.6-.1.1-.26.17-.46.2s-.54.04-1.03.04c-1.95 0-3.78-.03-5.47-.1l-2.53-.1c-.12 0-.3 0-.52.02-.22 0-.48 0-.78.02-.86.04-1.5.06-1.9.06-.33 0-.5-.08-.5-.25 0-.14.08-.2.25-.2.25 0 .58-.05.98-.13.3-.06.5-.22.63-.5s.23-.72.3-1.3c.07-.5.1-1.3.14-2.43.03-1.13.04-2.7.04-4.7zM108.17 10.54v5.77c0 2.02 0 3.6.04 4.7.04 1.13.08 1.94.13 2.44.05.54.17.97.34 1.27.18.3.48.5.93.54.6.1 1.08.13 1.46.13.17 0 .25.07.25.2 0 .18-.16.26-.5.26h-1.1c-.3-.03-.85-.04-1.7-.06l-1.2-.03h-.4l-.73.03c-.33 0-.7.02-1.08.04l-.98.03c-.35 0-.52-.08-.52-.25 0-.14.08-.2.25-.2.25 0 .58-.05.98-.14.3-.05.5-.22.64-.5.12-.28.22-.7.3-1.3.06-.5.1-1.3.13-2.42.03-1.13.04-2.7.04-4.7v-5.78-5.22c0-.77-.03-1.4-.08-1.88-.06-1.05-.43-1.66-1.1-1.82-.32-.1-.66-.13-1-.13-.17 0-.26-.07-.26-.2 0-.2.18-.3.52-.3.23 0 .66 0 1.3.03l1.5.06h.5.45c.34-.03.82-.05 1.45-.07l1.26-.03c.35 0 .52.1.52.3 0 .13-.08.2-.25.2-.15 0-.43.03-.83.1-.4.06-.7.24-.88.52-.17.28-.27.72-.3 1.32-.04.54-.06 1.18-.06 1.92v5.18zM126.9 1.9v13.85c0 2 0 3.58.03 4.7s.07 1.93.12 2.43c.06.55.17.97.35 1.28.17.3.48.48.92.53.62.07 1.1.1 1.46.1.17 0 .26.08.26.22 0 .17-.17.26-.5.26-.45 0-.8 0-1.1-.02l-1.7-.05c-.85 0-1.25-.02-1.2-.02h-.4l-.73.03-1.1.05c-.38.02-.7.02-.96.02-.35 0-.52-.08-.52-.25 0-.14.1-.2.27-.2.25 0 .58-.05.96-.13.3-.07.5-.23.63-.5.12-.3.22-.73.3-1.32.06-.5.1-1.3.13-2.42.03-1.13.04-2.7.04-4.7V1.88l-4.8.05c-1.02.02-1.76.1-2.23.25-.46.14-.83.4-1.1.78-.26.4-.44.75-.55 1.05-.08.2-.2.32-.34.32-.1 0-.16-.1-.16-.3 0-.16.1-.72.33-1.7.2-.95.34-1.52.38-1.7.13-.43.24-.65.35-.65l.46.17c.3.12.62.2.97.2 1 .13 1.84.18 2.57.18h12.18c.58 0 1.34-.05 2.3-.17l.9-.16c.13 0 .18.15.18.43 0 .2 0 .67-.04 1.42l-.05 1.64v.55c0 .3-.08.43-.23.43-.15 0-.23-.18-.25-.56l-.03-.4c-.1-.54-.4-.97-1-1.27-.57-.3-1.57-.47-3-.5z"/></svg></a>
					<a href="https://makeit-da.ru/">Digital агенство Создание сайтов</a>
					<p>© 2016 «Chesnok Velo»</p>
				</div>
			</div>
		</div>
	</div>
</footer>