<div class="shipandpay">
	
	<h1>Доставка и оплата</h1>
	<div class="shipandpay_flex_wrap">
		<div class="shipandpay_block">
			<h2>Доставка</h2>
			<h3>Курьером</h3>

			<ul>
				<li><b>Санкт-петербург и Лен. область</b>  250 руб. По Ленинградской области + 20 руб/км от поста ДПС к базовому тарифу;</li>
				<li><b>По России</b> стоимость доставки по зависит от веса и габаритов заказа, ее вы увидите при оформлении заказа. Для всех регионов России отправка заказа производится в течении 1-3 дней при 100% предоплате товара, включая стоимость доставки, за исключением транспортных компаний. В этом случае, оплата доставки возможна на месте, при получении заказа. Все отправления страхуются в обязательном порядке. </li>
				<li><b>По миру</b> 300-500 руб., 2-4 дня. Плюс какая-то дополнительная инфа, еще какой-то текст. отправка заказа производится в течении 1-3 дней при 100% предоплате товара, включая стоимость доставки, за исключением транспортных компаний. В этом случае, оплата доставки возможна на месте, при получении заказа. Все отправления страхуются в обязательном порядке.</li>
			</ul>
			
			
			
			<h3>Самовывозом</h3>
			<p>После оформления и подтверждения заказа, Вы можете получить его самостоятельно в Пункте самовывоза, по адресу: Санкт-Петербург, Ленинский проспект д.114 (метро Ленинский проспект).  Время работы: с 11-20 пн.- вс., без выходныхТовар будет зарезервирован за Вами на три дня, включая день заказа.</p>
		</div>
		<div class="shipandpay_block">
			<h2>Оплата</h2>
			<ul>
				<li>
					<img src="/components/bitrix/shipandpay/wallet.svg" alt="">
					<h3>Наличными</h3>
					Санкт-петербург и Лен. область  250 руб. По Ленинградской области + 20 руб/км от поста ДПС к базовому тарифу
				</li>
				<li>
					<img src="/components/bitrix/shipandpay/epay.svg" alt="">
					<h3>Электронным кошельком</h3>
					Санкт-петербург и Лен. область  250 руб. По Ленинградской области + 20 руб/км от поста ДПС к базовому тарифу
					<img class="ccards" src="/components/bitrix/shipandpay/doublecards.svg" alt="">
					
				</li>
				<li>
					<img src="/components/bitrix/shipandpay/cart.svg" alt="">
					<h3>Пластиковой картой</h3>
					Санкт-петербург и Лен. область  250 руб. По Ленинградской области + 20 руб/км от поста ДПС к базовому тарифу
				</li>
			</ul>
			<p>
				Какой-то текст если нужно. При обнаружении в Вашем заказе товара ненадлежащего качества, Вы имеете право на замену или возврат этого товара в установленном порядке согласно Закону РФ "О Дистанционном способе продажи товаров" в течение 14 дней, не считая дня покупки, при наличии у Вас товарного или кассового чека.  
			</p>

		</div>
		<div class="garanty">
			<div class="shipandpay_block left">
				<div class="inner_shipandpay">
					<h3>Гарантия 12 месяцев</h3>
					<p>После оформления и подтверждения заказа, Вы можете получить его самостоятельно в Пункте самовывоза, по адресу: Санкт-Петербург, Ленинский проспект д.114 (метро Ленинский проспект)</p>
				</div>
			</div>
			<div class="shipandpay_block right">
				<div class="inner_shipandpay">
					<h3>Возврат</h3>
					<p>При обнаружении в Вашем заказе товара ненадлежащего качества, Вы имеете право на замену или возврат этого товара в установленном порядке согласно Закону РФ "О Дистанционном способе продажи товаров" в течение 14 дней, не считая дня покупки, при наличии у Вас товарного или кассового чека. lorem500</p>
				</div>
			</div>
		</div>
	</div>

</div>