@import "bourbon"

.viewed_wrap
	background-color: #f8f8f8
	padding-top: 21px
	border-radius: 0 0 3px 3px
	.sectiontitle
		margin-bottom: 30px
		h1
			color: #8e8e8e
			border: none
		&:before
			margin: 0 auto
			background-color: #e7e7e7

.viewed_blocks
	position: relative
	display: flex
	justify-content: space-between
	padding: 0 20px 65px 20px
	z-index: 3
	&:before
		content: ''
		display: block
		position: absolute
		margin-top: -49px
		margin-left: -35px
		width: 25px
		height: 25px
		border-left: 5px solid #dedede
		border-top: 5px solid #dedede
	&:after
		content: ''
		display: block
		position: absolute
		width: 25px
		height: 25px
		right: 0
		bottom: 10px
		border-right: 5px solid #dedede
		border-bottom: 5px solid #dedede

.vi_point
	max-width: 210px
	flex-basis: 210px
	border: 1px solid #e8e8e8
	background-color: #FFF
	transition: 0.1s
	text-decoration: none
	.descript
		margin: 0 19px 14px 19px
		padding-top: 18px
		border-top: 2px solid #f3f3f3
		z-index: 3
		opacity: 0.999
		p
			color: #262626
		strong
			color: #363636
			font-size: 16px
			font-weight: 700
			line-height: 32px
	img
		margin: auto
		
	&:hover
		outline: 3px solid #cbcbcb
		box-shadow: 0 9px 10px rgba(59, 59, 59, 0.13)

.vi_img
	margin: 19px 19px 0 19px
	padding-bottom: 19px
	height: 88px
	display: flex
	z-index: 0
	



@media only screen and (max-width : 1000px)
	/**/
	.viewed_blocks
		padding: 0 0 65px 0
		.vi_point
			margin: 0 10px
		&:after		
			content: ''
			display: block
			position: absolute
			top: 0 
			right: 0
			width: 79px
			height: 235px
			background-image: linear-gradient(to right, transparent 0%, white 100%)
			border: none
		&:before
			content: ''
			display: none

@media only screen and (max-width : 375px)
	/**/
	.viewed_blocks
		padding: 0 0 65px 0
		