<link rel="stylesheet" href="/libs/slick/slick.css">
<link rel="stylesheet" href="/libs/slick/slick-theme.css">
<script src="/libs/slick/slick.min.js"></script>
<script src="/components/bitrix/viewed/viewed.js"></script>

<div class="viewed_wrap">
<div class="container_wrap">
	<div class="container">
		<div class="sectiontitle">
			<h1>Вы смотрели</h1>
		</div>
		<div class="viewed_blocks">
			<a href="#" class="vi_point">
				<div class="vi_img"><img src="components/bitrix/viewed/t4.jpg" alt=""></div>
				<div class="descript">
					<p>Аккумуляторная батарея LINMC 77В 16А</p>
					<strong><span>49 100</span> руб.</strong>
				</div>
			</a>
			<a href="#" class="vi_point">
				<div class="vi_img"><img src="components/bitrix/viewed/t1.jpg" alt=""></div>
				<div class="descript">
					<p>Аккумуляторная батарея LINMC 77В 16А</p>
					<strong><span>49 100</span> руб.</strong>
				</div>
			</a>
			<a href="#" class="vi_point">
				<div class="vi_img"><img src="components/bitrix/viewed/t2.jpg" alt=""></div>
				<div class="descript">
					<p>Аккумуляторная батарея LINMC 77В 16А</p>
					<strong><span>49 100</span> руб.</strong>
				</div>
			</a>
			<a href="#" class="vi_point">
				<div class="vi_img"><img src="components/bitrix/viewed/t3.jpg" alt=""></div>
				<div class="descript">
					<p>Аккумуляторная батарея LINMC 77В 16А</p>
					<strong><span>49 100</span> руб.</strong>
				</div>
			</a>
			<a href="#" class="vi_point">
				<div class="vi_img"><img src="components/bitrix/viewed/t4.jpg" alt=""></div>
				<div class="descript">
					<p>Аккумуляторная батарея LINMC 77В 16А</p>
					<strong><span>49 100</span> руб.</strong>
				</div>
			</a>
		</div>
	</div>
<div class="container_wrap">
</div>