@import "bourbon"

.saleblock
	margin-top: 15px
	display: flex
	justify-content: space-between
	img
		width: 33%
		max-width: 390px
		height: auto
		border-radius: 4px



@media only screen and (max-width : 1000px)
	/**/
	.saleblock
		img
			width: 305px
			height: 43px

@media only screen and (max-width : 375px)
	/**/
	.saleblock
		justify-content: center
		margin-top: 10px
		img:first-child
			width: 335px
			height: 47px
		img:nth-child(2), img:nth-child(3)
			display: none