<div class="saleblock">
	<a href="#"><img class="animate" src="components/bitrix/sale/sale1.jpg" alt="#"></a>
	<a href="#"><img class="animate" src="components/bitrix/sale/sale2.jpg" alt="#"></a>
	<a href="#"><img class="animate" src="components/bitrix/sale/sale3.jpg" alt="#"></a>
</div>