@import "bourbon"
.service_wrap
	padding-bottom: 56px // Для того, чтобы нижний блок можно было "вы смотрели" можно было убрать без потери отступа
	.sectiontitle
		margin-bottom: 31px
		&:before
			margin-top: 54px
.service_points
	display: flex
	justify-content: space-between
	.service_slide
		width: 212px
	.sv_wrap
		height: 95px
	h3
		line-height: 30px
		max-width: 186px
		margin: 11px 0 7px 0
	p
		color: #262626
		line-height: 24px
	&:after
		content: ''
		display: block
		position: absolute
		top: 0 
		right: 0
		width: 79px
		height: 235px


@media only screen and (max-width : 375px)
	/**/
	.service_points
		&:after		
			background-image: linear-gradient(to right, transparent 0%, white 100%)
		