<!-- Подключение слайдера -->
<link rel="stylesheet" href="/libs/slick/slick.css">
<link rel="stylesheet" href="/libs/slick/slick-theme.css">
<script src="/libs/slick/slick.min.js"></script>
<script src="/components/bitrix/services/services.js"></script>

<div class="service_wrap">
	<div class="sectiontitle">
		<h1>Услуги</h1>
	</div>
	<div class="service_points">
		<div class="service_slide">
			<div class="sv_wrap"><img src="components/bitrix/services/1.svg" alt=""></div>
			<h3>Переоборудование в электровелосипед</h3>
			<p>Краткое описание услуги. Кто-то еще. Текст на несколько строчек</p>
		</div>
		<div class="service_slide">
			<div class="sv_wrap"><img src="components/bitrix/services/2.svg" alt=""></div>
			<h3>Сборка конфигураций</h3>
			<p>Краткое описание услуги. Кто-то еще. Текст на несколько строчек</p>
		</div>
		<div class="service_slide">
			<div class="sv_wrap"><img src="components/bitrix/services/3.svg" alt=""></div>
			<h3>Тюнинг электровелосипеда</h3>
			<p>Краткое описание услуги. Кто-то еще. Текст на несколько строчек</p>
		</div>
		<div class="service_slide">
			<div class="sv_wrap"><img src="components/bitrix/services/4.svg" alt=""></div>
			<h3>Техническое обслуживание</h3>
			<p>Краткое описание услуги. Кто-то еще. Текст на несколько строчек</p>
		</div>
		<div class="service_slide">
			<div class="sv_wrap"><img src="components/bitrix/services/5.svg" alt=""></div>
			<h3>Консультирование</h3>
			<p>Краткое описание услуги. Кто-то еще. Текст на несколько строчек</p>
		</div>
	</div>
</div>

