<div class="contacts_map_wrap">
	<div id="map">
		<div class="container">
				<div class="contacts_info">
		<h1>Контакты</h1>
		<p>Мы просто ниебически ахуенны. Знаем все о великах. Элон звонит нам для консультаций. Платоновская академия представляет собой гедонизм.</p>
		<div class="ulcontainer">
			<ul>
				<li>
					Телефон:
					<p><a href="tel:+78129486424">8(812)948-64-24</a></p>
				</li>
				<li>
					Адрес:
					<p>Адмиралтейский проспект, 4</p>
				</li>
				<li>
					Эл. Почта:
					<p><a href="mailto:sales@chesnok-velo.ru">sales@chesnok-velo.ru</a></p>
				</li>
			</ul>
			<ul>
				<li><a href="#"><span class="svbg"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="11"><path fill="#FFF" fill-rule="evenodd" d="M8.92 10.58h1.06s.32-.04.48-.2c.15-.17.14-.48.14-.48s-.02-1.43.64-1.64c.65-.2 1.5 1.37 2.37 1.98.68.46 1.2.34 1.2.34h2.36s1.23-.1.65-1.07c-.04-.07-.33-.7-1.75-2.02-1.5-1.38-1.3-1.15.5-3.54 1.1-1.45 1.52-2.33 1.4-2.7-.14-.37-.94-.3-.94-.3h-2.66S14.14.9 14 1c-.14.08-.23.3-.23.3s-.43 1.15-1 2.1c-1.17 2.02-1.65 2.12-1.84 2-.45-.3-.34-1.17-.34-1.8 0-1.95.3-2.76-.6-2.97C9.73.56 9.5.5 8.78.5 7.82.5 7 .5 6.57.73c-.3.15-.55.48-.4.5.17.02.57.1.78.4.27.36.26 1.2.26 1.2s.17 2.3-.35 2.58c-.36.2-.86-.2-1.9-2.02-.55-.94-.96-2-.96-2s-.1-.2-.23-.3c-.17-.1-.4-.15-.4-.15H.82S.45.93.3 1.1c-.12.15 0 .45 0 .45s1.98 4.67 4.22 7c2.06 2.15 4.4 2.03 4.4 2.03z"/></svg></span>Группа Вконтакте</a></li>
				<li><a href="#"><span class="svbg"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="16"><path fill="#FFF" fill-rule="evenodd" d="M14.052 14.195c0 .428-.195.896-.662.896H9.766V9.637h1.87L11.91 7.3H9.765V5.895c0-.623.156-.935 1.052-.935h1.286V2.936c-.39-.04-1.013-.078-1.792-.078C8.675 2.857 7.43 3.87 7.43 5.7v1.6H5.48v2.336h1.95v5.455H.687c-.428 0-.662-.467-.662-.895V1.455c0-.43.234-.78.662-.78h12.74c.43 0 .663.35.663.78v12.74h-.038z"/></svg></span>Группа Facebook</a></li>
				<li><a href="#"><span class="svbg"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15"><path fill="#FFF" fill-rule="evenodd" d="M14.442 12.532c0 .936-.82 1.56-1.754 1.56H1.778c-.934 0-1.752-.624-1.752-1.56V1.622C.026.69.844.066 1.78.066h10.908c.935 0 1.754.623 1.754 1.558v10.91zm-1.948-9.038c0 .233-.195.467-.43.467h-1.44c-.234 0-.468-.194-.468-.466V2.052c0-.234.195-.468.467-.468h1.442c.234 0 .43.195.43.468v1.442zM11.247 5.91h1.636v6.506c0 .233-.04.506-.312.506H1.858c-.234 0-.273-.234-.273-.506V5.91H3.22c-.233 0-.31.856-.31 1.285 0 2.376 1.947 4.286 4.363 4.286 2.415 0 4.363-1.87 4.363-4.285-.04-.39-.117-1.286-.39-1.286zm-6.74 1.168c0-1.52 1.246-2.727 2.727-2.727C8.754 4.35 10 5.56 10 7.08c0 1.52-1.247 2.727-2.766 2.727-1.52.04-2.728-1.208-2.728-2.727z" opacity="1"/></svg></span>Аккаунт Instagram</a></li>
			</ul>
		</div>
	</div>
		</div>

	</div>
</div>

