<div class="rowabout_wrap">
	<div class="about_us">
		<div class="about_flex">
			<div class="about_text">
				<div>
					<p class="main_p">Мы просто ниебически ахуенны. Знаем все о великах. Элон звонит нам для консультаций. Платоновская академия представляет собой гедонизм.</p>
				</div>
				<div>
					<h1>О нас</h1>
				</div>
			</div>
			<div class="points_wrap">
				<div class="points">
					<svg xmlns="http://www.w3.org/2000/svg" width="80" height="56.5"><defs><filter id="a" width="200%" height="200%" x="-50%" y="-50%"><feMorphology operator="dilate" result="SvgjsFeMorphology1023Out" in="SourceGraphic"/><feOffset dy="13" result="SvgjsFeOffset1024Out" in="SvgjsFeMorphology1023Out"/><feGaussianBlur stdDeviation="5.5" result="SvgjsFeGaussianBlur1025Out" in="SvgjsFeOffset1024Out"/><feComposite in="SvgjsFeGaussianBlur1025Out" in2="SourceAlpha" operator="out" result="SvgjsFeComposite1026Out"/></filter></defs><path fill-opacity=".31" d="M397.88 1922.07c-2.02 0-4.32-.47-4.32-2.33 0-.62.72-1.52 2-2.6h-.02l-3.34-5.93c-.46-.8-.1-1.8.76-2.15l.58-.23c1.04-.42 2.2-.36 3.2.17l6.08 3.2c2.37-1.4 5.05-2.87 7.88-4.3l-11.84-7.67c-.94-.6-.93-1.98.02-2.57l.96-.6c1.62-1.02 3.58-1.32 5.42-.83l19.7 5.18c6.14-2.42 11.7-4.08 14.98-4.08.87 0 1.75.02 2.6.08l-5.95 2.68-.15 2 9.18-4.2c2.2.5 3.54 1.5 3.54 3.44 0 9.86-47.68 20.75-51.3 20.75zm34.68 4.6c.45.5 1.18.66 1.8.37l.97-.46c1.8-.83 2.86-2.7 2.63-4.67l-.92-7.83c-.06-.5-.56-.8-1.02-.63l-10.5 3.68c-.5.18-.67.82-.3 1.22z" filter="url(#a)" transform="translate(-380.5 -1895)"/><path fill="#fff" d="M17.38 27.07c-2.02 0-4.32-.47-4.32-2.33 0-.62.72-1.52 2-2.6h-.02L11.7 16.2c-.46-.8-.1-1.8.76-2.15l.58-.23c1.04-.42 2.2-.36 3.2.17l6.08 3.2c2.37-1.4 5.05-2.87 7.88-4.3L18.36 5.22c-.94-.6-.93-1.98.02-2.57l.96-.6c1.62-1.02 3.58-1.32 5.42-.83l19.7 5.18C50.6 4 56.16 2.33 59.44 2.33c.87 0 1.75.02 2.6.08L56.1 5.08l-.15 2 9.18-4.2c2.2.5 3.54 1.5 3.54 3.44 0 9.86-47.68 20.75-51.3 20.75zm34.68 4.6c.45.5 1.18.66 1.8.37l.97-.46c1.8-.83 2.86-2.7 2.63-4.67l-.92-7.83c-.06-.5-.56-.8-1.02-.63l-10.5 3.68c-.5.18-.67.82-.3 1.22z"/></svg>
					<p><b>Доставка </b>по всему миру. В Санкт-Gетербурге можем переоборудовать и провести ТО</p>
				</div>
				<div class="points">
					<svg xmlns="http://www.w3.org/2000/svg" width="67" height="53"><defs><filter id="a" width="200%" height="200%" x="-50%" y="-50%"><feMorphology operator="dilate" result="SvgjsFeMorphology1032Out" in="SourceGraphic"/><feOffset dy="13" result="SvgjsFeOffset1033Out" in="SvgjsFeMorphology1032Out"/><feGaussianBlur stdDeviation="5.5" result="SvgjsFeGaussianBlur1034Out" in="SvgjsFeOffset1033Out"/><feComposite in="SvgjsFeGaussianBlur1034Out" in2="SourceAlpha" operator="out" result="SvgjsFeComposite1035Out"/></filter><filter id="b" width="200%" height="200%" x="-50%" y="-50%"><feMorphology operator="dilate" result="SvgjsFeMorphology1039Out" in="SourceGraphic"/><feOffset dy="13" result="SvgjsFeOffset1040Out" in="SvgjsFeMorphology1039Out"/><feGaussianBlur stdDeviation="5.5" result="SvgjsFeGaussianBlur1041Out" in="SvgjsFeOffset1040Out"/><feComposite in="SvgjsFeGaussianBlur1041Out" in2="SourceAlpha" operator="out" result="SvgjsFeComposite1042Out"/></filter></defs><path fill-opacity=".31" d="M840.9 1894h-35.83c-2.25 0-4.07 1.82-4.07 4.07v3.56h43.96v-3.56c0-2.25-1.82-4.07-4.07-4.07z" filter="url(#a)" transform="translate(-789.5 -1894)"/><path fill="#fff" d="M51.4 0H15.56c-2.25 0-4.07 1.82-4.07 4.07v3.56h43.96V4.07C55.46 1.82 53.64 0 51.4 0z"/><path fill-opacity=".31" d="M805.07 1922.4h35.82c2.24 0 4.06-1.8 4.06-4.06V1906H801v12.34c0 2.25 1.82 4.07 4.07 4.07zm28.3-11.4c.6-.48 1.36-.75 2.2-.75 2 0 3.64 1.63 3.64 3.64 0 2-1.62 3.64-3.63 3.64-.84 0-1.6-.28-2.2-.74-.63.46-1.4.74-2.22.74-2.02 0-3.65-1.63-3.65-3.65s1.63-3.65 3.65-3.65c.83 0 1.6.27 2.2.74zm-25.9 3.68h8.47c.3 0 .55.25.55.55v1.67c0 .3-.26.55-.56.55h-8.47c-.3 0-.55-.25-.55-.55v-1.67c0-.3.24-.55.55-.55z" filter="url(#b)" transform="translate(-789.5 -1894)"/><path fill="#fff" d="M15.57 28.4H51.4c2.24 0 4.06-1.8 4.06-4.06V12H11.5v12.34c0 2.25 1.82 4.07 4.07 4.07zM43.87 17c.6-.48 1.36-.75 2.2-.75 2 0 3.64 1.63 3.64 3.64 0 2-1.62 3.64-3.63 3.64-.84 0-1.6-.28-2.2-.74-.63.46-1.4.74-2.22.74-2.02 0-3.65-1.63-3.65-3.65s1.63-3.65 3.65-3.65c.83 0 1.6.27 2.2.74zm-25.9 3.68h8.47c.3 0 .55.25.55.55v1.67c0 .3-.26.55-.56.55h-8.47c-.3 0-.55-.25-.55-.55v-1.67c0-.3.24-.55.55-.55z"/></svg>
					<p><b>Оплата</b> наличными, картами, эл. кошельками.</p>
				</div>
				<div class="points">
					<svg xmlns="http://www.w3.org/2000/svg" width="53" height="54"><defs><filter id="a" width="200%" height="200%" x="-50%" y="-50%"><feMorphology operator="dilate" result="SvgjsFeMorphology1048Out" in="SourceGraphic"/><feOffset dy="13" result="SvgjsFeOffset1049Out" in="SvgjsFeMorphology1048Out"/><feGaussianBlur stdDeviation="5.5" result="SvgjsFeGaussianBlur1050Out" in="SvgjsFeOffset1049Out"/><feComposite in="SvgjsFeGaussianBlur1050Out" in2="SourceAlpha" operator="out" result="SvgjsFeComposite1051Out"/></filter></defs><path fill-opacity=".31" d="M1211.94 1917.1c-.02.2-.03.43-.03.65 0 3.23 2.52 5.84 5.6 5.84.4 0 .77-.05 1.13-.12.6-.13 1.33.12 1.76.6 1 1.15 2.47 1.87 4.1 1.87 1.7 0 3.24-.8 4.26-2.07.4-.5 1.1-.7 1.72-.52.5.15 1.02.23 1.56.23 3.1 0 5.6-2.62 5.6-5.85 0-.36-.02-.72-.08-1.06-.1-.6.17-1.3.63-1.76 1.1-1.06 1.78-2.58 1.78-4.26 0-1.84-.82-3.47-2.1-4.54-.48-.42-.9-.94-.85-1.3.03-.2.04-.42.04-.64 0-3.23-2.5-5.84-5.6-5.84-.4 0-.76.04-1.12.1-.6.14-1.33-.1-1.76-.6-1.03-1.14-2.5-1.86-4.1-1.86-1.63 0-3.1.72-4.1 1.87-.44.48-1.16.73-1.77.6-.36-.07-.73-.1-1.12-.1-3.08 0-5.6 2.6-5.6 5.83 0 .3.03.62.08.9.07.5-.27 1.13-.78 1.53-1.34 1.07-2.2 2.75-2.2 4.64 0 1.83.8 3.47 2.08 4.54.5.42.9.95.86 1.3zm5.78-5.6l2.93 2.1c.16.1.3.15.46.15.3 0 .55-.22.78-.44l9.36-9.48c.58-.65 1.15-.87 1.52-.63.17.1.28.28.3.48.05.23-.03.5-.2.7l-11.27 13.87c-.17.2-.38.3-.6.3-.25 0-.48-.14-.63-.4l-3.3-6.05c-.14-.23-.17-.46-.08-.62.12-.22.43-.23.72.03z" filter="url(#a)" transform="translate(-1198 -1896)"/><path fill="#fff" d="M13.94 21.1c-.02.2-.03.43-.03.65 0 3.23 2.52 5.84 5.6 5.84.4 0 .77-.05 1.13-.12.6-.13 1.33.12 1.76.6 1 1.15 2.47 1.87 4.1 1.87 1.7 0 3.24-.8 4.26-2.07.4-.5 1.1-.7 1.72-.52.5.15 1.02.23 1.56.23 3.1 0 5.6-2.62 5.6-5.85 0-.36-.02-.72-.08-1.06-.1-.6.17-1.3.63-1.76 1.1-1.06 1.78-2.58 1.78-4.26 0-1.84-.82-3.47-2.1-4.54-.48-.42-.9-.94-.85-1.3.03-.2.04-.42.04-.64 0-3.23-2.5-5.84-5.6-5.84-.4 0-.76.04-1.12.1-.6.14-1.33-.1-1.76-.6C29.56.73 28.1 0 26.5 0c-1.63 0-3.1.72-4.1 1.87-.44.48-1.16.73-1.77.6-.36-.07-.73-.1-1.12-.1-3.08 0-5.6 2.6-5.6 5.83 0 .3.03.62.08.9.07.5-.27 1.13-.78 1.53-1.34 1.07-2.2 2.75-2.2 4.64 0 1.83.8 3.47 2.08 4.54.5.42.9.95.86 1.3zm5.78-5.6l2.93 2.1c.16.1.3.15.46.15.3 0 .55-.22.78-.44l9.36-9.48c.58-.65 1.15-.87 1.52-.63.17.1.28.28.3.48.05.23-.03.5-.2.7L23.58 22.26c-.17.2-.38.3-.6.3-.25 0-.48-.14-.63-.4l-3.3-6.05c-.14-.23-.17-.46-.08-.62.12-.22.43-.23.72.03z"/></svg>
					<p><b>Гарантия</b> на товары 69 лет, Ощущение мира амбивалентно дискредитирует здравый смысл</p></div>
				</div>
			</div>
		</div>
	</div>